{{#sprites}}
.{{name}} {
	position:relative;
	vertical-align:top;
	@extend .txtHidden;
  width: {{px.width}};
	height: {{px.height}};
  background-image: url(/images/sprite.png);
  background-position:{{px.offset_x}} {{px.offset_y}};
}
{{/sprites}}