@charset "UTF-8";

//공통
.txtHidden {
	overflow:hidden; display:inline-block;
	text-indent:-9999px; white-space:nowrap; line-height:0; text-align:left !important;
}

.txtHide {
	@extend .txtHidden;
	position:absolute; top:0; left:0; width:0; height:0;
}

.clearFix {
	clear:both;
	&:before,&:after {content:" "; display:table;}
	&:after {clear:both;}
}

.ellipsis {
	overflow:hidden; white-space:nowrap !important;
	text-overflow:ellipsis; -o-text-overflow:ellipsis; word-wrap:normal !important;
}

.mgT0 {margin-top:0 !important;}
.mgT10 {margin-top:10px !important;}
.mgT15 {margin-top:15px !important;}
.mgT20 {margin-top:20px !important;}
.mgT25 {margin-top:25px !important;}
.mgT30 {margin-top:30px !important;}
.mgT35 {margin-top:35px !important;}
.mgT40 {margin-top:40px !important;}
.mgT45 {margin-top:45px !important;}
.mgT50 {margin-top:50px !important;}
.mgT55 {margin-top:55px !important;}
.mgT60 {margin-top:60px !important;}

.mgL5 {margin-left:5px !important;}
.mgL10 {margin-left:10px !important;}
.mgL15 {margin-left:15px !important;}
.mgL20 {margin-left:20px !important;}

.w100per {width:100% !important;}

.txtC {text-align:center !important;}
.txtL {text-align:left !important;}
.txtR {text-align:right !important;}


//레이아웃
header {
	border-bottom:1px solid #d3d3d3; @include bg("common/bgHeader.png", 0 0, repeat-x);
	.headerArea {width:1180px; margin:0 auto;}
}
.topHeader {
	position:relative; height:74px;
	h1 {@extend .icoLogo; position:absolute; top:12px; left:50%; transform:translate(-50%, 0);}
	.topNav {
		float:right; margin-top:28px;
		a {display:inline-block; margin-left:15px; color:#212121;}
	}
	.icoBeta {float:right; margin:-11px 0 0 4px;}
}
.gnbArea {
	position:relative; height:62px; @extend .clearFix;
	.searchBox {
		overflow:hidden; float:right; border-left:1px solid rgba(812,222,228,0.2);
		input[type="text"] {
			float:left; width:233px; height:62px; padding:10px 23px; border:none;
			background-color:transparent; @include noto(b); font-size:13px; color:$cWhite; letter-spacing:ls(-50);
		}
		button[type="submit"] {float:left; @extend .icoSearch;}
	}
}
#gnb {
	float:left;
	li {
		display:inline-block; margin-left:97px;
		a {
			display:inline-block;
			@include noto(b); font-size:21px; color:$cWhite; line-height:62px; letter-spacing:ls(-50);
		}
		&:first-child {margin-left:0;}
	}
}
.navArea {
	border-top:1px solid #dbdbdb;
	&:before {
		content:""; display:inline-block; position:absolute; top:137px; left:50%;
		width:594px; height:196px; margin-left:121px;
		@include bg("common/bgNav.png", 0 0, no-repeat); z-index:-1;
	}
}
nav {
	overflow:hidden; width:1180px; height: 0; margin:0 auto;
	> ul {
		overflow:hidden; padding-top:24px;
		> li {
			float:left;
			&.nav01 {width:172px;}
			&.nav02 {width:137px;}
			&.nav03 {width:176px;}
			&.nav04 {width:136px;}
			&.nav05 {width:136px;}
			&.nav06 {width:128px;}
			ul li {
				display:block;
				a {
					display:inline-block; padding:0 5px 0 4px;
					font-size:14px; color:$cBlack; line-height:22px; letter-spacing:ls(-50);
					&:hover {color:$cWhite; background-color:#3887bf;}
				}
			}
			h2 {@extend .txtHide;}
		}
	}
}
#contents {
	padding-bottom:128px; background-color:#e5e4e4;
	.content {width:1180px; margin:0 auto;}
	.content.main {

	}
	.conList {padding-top:40px;}
}
footer {
	@include bg("common/bgFooter.jpg", 0 0,repeat-x);
	.footerArea {
		overflow:hidden; width:1180px; height:213px; margin:0 auto; padding-top:20px;
		.menuBox {
			float:left; @extend .clearFix;
			h1 {float:left; @extend .icoFootLogo;}
			> div {
				overflow:hidden; float:left;
				h2 {margin-bottom:10px; font-size:15px; color:#ab9c8b;}
				div {
					float:left; margin-left:30px;
					&:first-of-type {margin-left:0;}
				}
				ul {
					overflow:hidden;
					li {
						line-height:18px;
						a {font-size:13px; color:#ab9c8b; letter-spacing:ls(-20);}
					}
				}
				&.fmenu01 {margin-left:45px;}
				&.fmenu02 {margin-left:55px;}
			}
		}
		.addrBox {
			float:right;
			h1 {@extend .txtHide;}
			div {
				span, address, a {color:#ab9c8b; line-height:18px; letter-spacing:ls(-20);}
				span {display:block;}
			}
		}
	}
}

//메인


//card list 형태
.grid-item {
	float:left; width:220px; margin-bottom:15px;
	border-top:1px solid #dedede; border-left:1px solid #dedede;
	border-right:2px solid #dedede; border-bottom:1px solid #dedede; border-radius:8px;
	background-color:$cWhite;
	&.grid-item--height2 {height:175px;}
}
.stamp {position:absolute; top:40px; left:0; width:458px; height:543px; margin-bottom:15px; border-radius:8px;}