@charset "UTF-8";

//폰트
@font-face {
	font-family:"Nanum Gothic"; font-style:normal; font-weight:400;
	src:url(/font/NanumGothic/NanumGothic-Regular.eot);
	src:url(/font/NanumGothic/NanumGothic-Regular.eot?#iefix) format("embedded-opentype"),
	url(/font/NanumGothic/NanumGothic-Regular.woff2) format("woff2"),
	url(/font/NanumGothic/NanumGothic-Regular.woff) format("woff"),
	url(/font/NanumGothic/NanumGothic-Regular.ttf) format("truetype");
}
@font-face {
	font-family:"Nanum Gothic Bold"; font-style:normal; font-weight:700;
	src:url(/font/NanumGothic/NanumGothic-Bold.eot);
	src:url(/font/NanumGothic/NanumGothic-Bold.eot?#iefix) format("embedded-opentype"),
	url(/font/NanumGothic/NanumGothic-Bold.woff2) format("woff2"),
	url(/font/NanumGothic/NanumGothic-Bold.woff) format("woff"),
	url(/font/NanumGothic/NanumGothic-Bold.ttf) format("truetype");
}
// @font-face {
//  font-family:"Nanum Gothic exBold"; font-style:normal; font-weight:800;
//  src:url(/font/NanumGothic/NanumGothic-ExtraBold.eot);
//  src:url(/font/NanumGothic/NanumGothic-ExtraBold.eot?#iefix) format("embedded-opentype"),
//  url(/font/NanumGothic/NanumGothic-ExtraBold.woff2) format("woff2"),
//  url(/font/NanumGothic/NanumGothic-ExtraBold.woff) format("woff"),
//  url(/font/NanumGothic/NanumGothic-ExtraBold.ttf) format("truetype");
// }
@font-face {
	font-family:"notokr-regular"; font-style:normal; font-weight:400;
	src:url(/font/notokr-regular/notokr-regular.eot);
	src:url(/font/notokr-regular/notokr-regular.eot?#iefix) format("embedded-opentype"),
	url(/font/notokr-regular/notokr-regular.woff2) format("woff2"),
	url(/font/notokr-regular/notokr-regular.woff) format("woff"),
	url(/font/notokr-regular/notokr-regular.ttf) format("truetype");
}
@font-face {
	font-family:"notokr-medium"; font-style:normal; font-weight:700;
	src:url(/font/notokr-medium/notokr-medium.eot);
	src:url(/font/notokr-medium/notokr-medium.eot?#iefix) format("embedded-opentype"),
	url(/font/notokr-medium/notokr-medium.woff2) format("woff2"),
	url(/font/notokr-medium/notokr-medium.woff) format("woff"),
	url(/font/notokr-medium/notokr-medium.ttf) format("truetype");
}
// @font-face {
//  font-family:"notokr-bold"; font-style:normal; font-weight:800;
//  src:url(/font/notokr-bold/notokr-bold.eot);
//  src:url(/font/notokr-bold/notokr-bold.eot?#iefix) format("embedded-opentype"),
//  url(/font/notokr-bold/notokr-bold.woff2) format("woff2"),
//  url(/font/notokr-bold/notokr-bold.woff) format("woff"),
//  url(/font/notokr-bold/notokr-bold.ttf) format("truetype");
// }

.nanum3 {font-family:"Nanum Gothic exBold"; font-weight:800;}
.nanum2 {font-family:"Nanum Gothic Bold"; font-weight:700;}
.nanum1 {font-family:"Nanum Gothic"; font-weight:400;}

.noto3 {font-family:"notokr-bold"; font-weight:800;}
.noto2 {font-family:"notokr-medium"; font-weight:700;}
.noto1 {font-family:"notokr-regular"; font-weight:400;}

//width 와 height 입력
@mixin size($width:null,$height:null){
	width:$width; height:$height;
}

//backgrund 관련 URL(기본 images폴더는 지정되어있음), POSITION, REPEAT , COLOR 순으로 입력
@mixin bg($url:null,$position:0 0,$repeat:no-repeat,$color:null){
	background-image:url("../images/#{$url}");
	background-color:$color;
	background-position:$position;
	background-repeat:$repeat;
}

//나눔고딕 : ex) @include nanum(b);
@mixin nanum($fontWeigt:a){
	@if $fontWeigt == "c" {
		@extend .nanum3;
	}@else if $fontWeigt == "b" {
		@extend .nanum2;
	}@else {
		@extend .nanum1;
	}
}
//노토산스 : ex) @include noto(b);
@mixin noto($fontWeigt:a){
	@if $fontWeigt == "c" {
		@extend .noto3;
	}@else if $fontWeigt == "b" {
		@extend .noto2;
	}@else {
		@extend .noto1;
	}
}

@mixin blockCenter($top:0,$bottom:0){
	margin:$top auto $bottom auto; float:none;
}

@mixin fs($size:12){
	font-size:$size+px; line-height:$size+px;
};

//COLOR SET
$cPurple:#8e2bb7;       //보라
$cSky:#0d91ed;          //하늘
$cOrange:#f67f00;       //주황
$cMint:#14c17a;         //민트
$cRed:#de4140;          //빨강

$cBlack:#000;           //검정
$cWhite:#fff;           //흰
$cGray1:#656565;        //회색1
$cGray2:#7f7f7f;        //회색2


.cPurple {color:$cPurple !important;}
.cSky {color:$cSky !important;}
.cOrange {color:$cOrange !important;}
.cMint {color:$cMint !important;}
.cRed{color:$cRed !important;}

.cBlack{color:$cBlack !important;}
.cWhite{color:$cWhite !important;}
.cGray1{color:$cGray1 !important;}
.cGray2{color:$cGray2 !important;}