@charset "UTF-8";

* {box-sizing:border-box;}
body, header, footer, article, section, nav,
h1, h2, h3, h4, h5, h6, div, p, span, em, blockquote, pre, address, button,
ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, input, select, label, textarea, img, a {
	margin:0; padding:0; border:0; word-break:break-all; word-wrap:break-word;
	color:#7f7f7f; font-size:12px;
	font-family: "notokr-regular", "Malgun Gothic", "맑은 고딕", Dotum, tahoma, sans-serif; font-weight:400;
}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
table {width:100%; border-spacing:0; border-collapse:collapse; font-size:12px; table-layout:fixed;}
img, input, select, textarea, button {vertical-align:top;}
legend, caption {
	overflow:hidden; visibility:hidden; height:0; z-index:-1; text-indent:-9999px; font-size:0; line-height:0;
}
button {background:none; cursor:pointer;}
a {color:#7f7f7f; text-decoration:none;}
a:focus, a:hover, a:active {text-decoration:none;}
ul, ol {list-style:none;}
label {cursor:pointer;}
address {font-style:normal;}
iframe {border:0;}
hr {display:none;}
select {padding:0 2px 0 5px; border:1px solid #d4d3d3; cursor:pointer;}
textarea {padding:5px 10px; border:1px solid #d4d3d3; resize:none;}
input[type="text"],
input[type="password"] {
	padding:9px 19px; border:1px solid #d4d3d3; border-radius:0;
	font-size:12px; color:#d4d3d3; line-height:17px;
}
input[type="checkbox"], input[type="radio"] {vertical-align:middle;}