@charset "UTF-8";

.icoBeta {
	position:relative;
	vertical-align:top;
	@extend .txtHidden;
  width: 39px;
	height: 39px;
  background-image: url(/images/sprite.png);
  background-position:-157px -35px;
}
.icoFootLogo {
	position:relative;
	vertical-align:top;
	@extend .txtHidden;
  width: 86px;
	height: 25px;
  background-image: url(/images/sprite.png);
  background-position:-157px 0px;
}
.icoLogo {
	position:relative;
	vertical-align:top;
	@extend .txtHidden;
  width: 147px;
	height: 42px;
  background-image: url(/images/sprite.png);
  background-position:0px 0px;
}
.icoSearch {
	position:relative;
	vertical-align:top;
	@extend .txtHidden;
  width: 60px;
	height: 62px;
  background-image: url(/images/sprite.png);
  background-position:0px -52px;
}
