@charset "utf-8";


.mb_50{ margin-bottom:50px!important;}



/*동영상 2단 이동형, 갤러리형, 코디제품형 */
body.admin #content .mid_2 ul li .inp {position:absolute;top:94px;left:205px;}
body.admin #content .mid_2 .inp_type_2 {margin:-43px 0 0;}
body.admin #content .mid_2 .inp_box {margin:14px 0 0 223px;font-size:12px;font-family:'Tahoma';letter-spacing:0;}
body.admin #content .mid_2 .inp_box input {width:46px;margin:0 15px 0 0;height:18px;line-height:18px;}
body.admin #content .mid_2 .inp_box label {font-size:12px;font-weight:600;margin:0 10px 0 0;}
body.admin #content .mid_2 .inp_b {position:relative;left:0;top:0;}
body.admin #content .mid_2 .inp_b span {position:absolute;left:70px;margin:4px 0 0;font-size:11px;font-weight:normal;color:#979797;}
body.admin #content .mid_2 .inp_box .inp02 {width:84px;}
body.admin #content .mid_3 {height:335px;}
body.admin #content .mid_4 {height:172px}
body.admin #content .bot02 {height:330px;}
body.admin #content .mid_5 {height:600px}

/*뉴스썸네일+본문형 */
body.admin #content .bot03 {height:115px;}
body.admin #content .news_mid {height:1546px;}
body.admin #content .news_mid ul li p.fname {float:left;width:auto;margin:52px 0 5px 27px;}
body.admin #content .news_mid .news_layout {float:left;width:auto;margin:45px 0 0 19px;}
body.admin #content .news_mid .news_layout input {padding:0 5px;font-size:11px;font-family:dotum;background:#fff;color:#979797;width:337px;height:20px;border:1px solid #e3e3eb;border-top-color:#aaadb2}
body.admin #content .news_mid .news_layout p {margin:10px 0 0;}
body.admin #content .news_mid .news_layout p.fst_ip {margin:35px 0 0;}
body.admin #content .news_mid .news_layout .filebox {margin:0;position:absolute;top:45px;left:178px;}
body.admin #content .news_mid .news_layout .filebox input {width:490px;}
body.admin #content .news_mid .news_layout textarea {width:342px;height:80px;}
body.admin #content .news_mid .news_layout p label {display:inline-block;float:left;width:61px;text-align:left;font-family:'Tahoma';font-size:12px;letter-spacing:0;color:#424242;padding:0 0 0 12px;}
body.admin #content .news_mid .news_layout .news_clock .n_clock {display:inline-block;height:26px;line-height:26px;font-size:14px;font-weight:600;color:#979797;margin:10px 0 0 13px;padding:0 0 0 36px;background:url(/html/admin/img/sub/ico_sclock.png) no-repeat left center;}
body.admin #content .news_mid .news_layout .news_clock input {width:120px;margin:0 8px 0 13px;}
body.admin #content .news_mid .news_layout .news_clock label {font-size:14px;font-weight:600;color:#474747;}
body.admin #content .news_mid .ly_p {margin:45px 0 0 180px;}
body.admin #content .news_mid .ly02 .filebox {position:absolute;top:342px;left:178px;}
body.admin #content .news_mid .ly03 .filebox {position:absolute;top:635px;left:178px;}
body.admin #content .news_mid .ly04 .filebox {position:absolute;top:931px;left:178px;}
body.admin #content .news_mid .ly05 .filebox {position:absolute;top:1222px;left:178px;}