@charset "utf-8";



.mg-tr17{ margin-right:17px!important; margin-top:50px!important;}
.mg-l17{ margin-left:17px!important;}


/* Iosef */
html{margin:0;padding:0}
body{ font-size: 14px;font-family:'dotum','맑은 돋움','돋움';color:#000;line-height:1.5;-webkit-text-size-adjust:none;margin: 0;padding:0}
a, input { color:#707070;outline: none;}

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea{margin:0;padding:0; font-size:1em;line-height:1.5}
p, span, div, ul, ol, li, em, a, img, strong, dl, dt, dd, table, thead, tbody, tfoot, th, td, label, form, fieldset, legend, input, select, option, textarea {margin: 0; padding:0;}
em, cite, address, optgroup{ font-style:normal;}
kbd, samp, code{ font-family:monospace;}

img, input, button, select, textarea{ vertical-align:middle;}
ul, ol li { list-style:none;}
hr {display: none;}
img {border: 0 none; vertical-align: middle;}
a, a:link, a:visited {border: 0 none; text-decoration: none;}
a:hover, a:active {text-decoration: none;}
fieldset {display: block; border: 0 none;}
table {border-collapse: collapse; /*table-layout: fixed;*/}
caption, legend, .hidden {visibility: hidden; left: -10000px; width: 0; height: 0; font-size: 0; line-height: 0; margin: 0; padding: 0;}
.group {*zoom:1}
.group:after {content:" ";display:block;clear:both}

.mt25 {margin-top:25px!important;}
.mb5 {margin-bottom:5px!important;}
.mb25 {margin-bottom:25px!important;}


/* layout */
body.admin {background:url(/html/admin/img/comm/bg_body.gif) repeat-y}
body.admin #lWrap {float:left;width:254px;color:#fff}
body.admin #lWrap h1 {height:102px;overflow:hidden}
body.admin #lWrap .info {margin-right:35px;height:134px;overflow:hidden;padding-left:25px;color:#d4d6d9;font-size:11px;border-bottom:1px solid #6b7079}
body.admin #lWrap .info .name {color:#f0f1f2;font-size:12px;font-weight:bold;margin:33px 0 10px 0}
body.admin #lWrap .info .email {line-height:16px;padding-left:15px;background:url(/html/admin/img/comm/bg_mail.png) no-repeat 0 2px}
body.admin #lWrap .info .tel {line-height:16px;padding-left:15px;background:url(/html/admin/img/comm/bg_tel.png) no-repeat 0 -1px}
body.admin #lWrap #lnb {margin:0 35px 39px 0;border-bottom:1px solid #838890;background:url(/html/admin/img/comm/line.gif) repeat-y}
body.admin #lWrap #lnb li {float:left;width:100%;height:32px}
body.admin #lWrap #lnb li a {padding-left:25px;display:block;font-size:14px;color:#fff;line-height:32px;height:32px;font-weight:bold}
body.admin #lWrap #lnb li a:hover,
body.admin #lWrap #lnb li a.on,
body.admin #lWrap #lnb li a:focus,
body.admin #lWrap #lnb li a:active {background:url(/html/admin/img/comm/on_ba.png) no-repeat;width:238px;height:35px}
body.admin #lWrap .lfoot {margin: 0 34px 10px 0;font-size:11px;color:#c9cbcf;text-align:center;line-height:1}
body.admin #lWrap .btn {margin-right:34px;text-align:center}
body.admin #cotainer {margin-left:254px;width:898px}
body.admin #cotainer #content {overflow:hidden;margin-bottom:23px;border:1px solid #727272}
body.admin #cotainer #content.pie {border-radius:6px}
body.admin #cotainer .title {height:30px;padding-top:45px;margin-bottom:38px}
body.admin #cotainer .title h2,body.admin #cotainer .title h3 {float:left}
body.admin #cotainer .title h3 {margin:0 0 0 19px;padding:6px 0 2px 31px;background:url(/html/admin/img/sub/bg_btit.gif) no-repeat 0 3px}

/* 신규 콘텐츠 생성 */
body.admin #cotainer #content .newContent {border:0;width:100%}
body.admin #cotainer #content .newContent td {height:250px;text-align:center;border-left: 1px solid #dddddd;border-top: 1px solid #dddddd}
body.admin #cotainer #content .newContent tr:first-child td {border-top:0}
body.admin #cotainer #content .newContent td:first-child {border-left:0}
body.admin #cotainer #content .newContent td a {height:100%;display:block}
body.admin #cotainer #content .newContent td a span {line-height:1.4;color:#8c8c8c;font-size:12px;margin-top:184px;display:inline-block;padding-bottom:20px}
body.admin #cotainer #content .newContent td a span strong {font-size:14px;color:#000000}
body.admin #cotainer #content .newContent td.bg01 a {background:url(/html/admin/img/sub/img_st1.png) no-repeat 50% 44px}
body.admin #cotainer #content .newContent td.bg02 a {background:url(/html/admin/img/sub/img_st2.png) no-repeat 50% 44px}
body.admin #cotainer #content .newContent td.bg03 a {background:url(/html/admin/img/sub/img_st3.png) no-repeat 50% 44px}
body.admin #cotainer #content .newContent td.bg04 a {background:url(/html/admin/img/sub/img_st4.png) no-repeat 50% 44px}
body.admin #cotainer #content .newContent td.bg05 a {background:url(/html/admin/img/sub/img_st5.png) no-repeat 50% 44px}
body.admin #cotainer #content .newContent td.bg06 a {background:url(/html/admin/img/sub/img_st6.png) no-repeat 50% 44px}
body.admin #cotainer #content .newContent td.bg07 a {background:url(/html/admin/img/sub/img_st7.png) no-repeat 50% 44px}
body.admin #cotainer #content .newContent td.bg08 a {background:url(/html/admin/img/sub/img_st8.png) no-repeat 50% 60px}
body.admin #cotainer #content .newContent td.bg09 a {background:url(/html/admin/img/sub/img_st9.png) no-repeat 50% 60px}
body.admin #cotainer #content .newContent td.bg10 a {background:url(/html/admin/img/sub/img_st10.png) no-repeat 50% 60px}
body.admin #cotainer #content .newContent td.bg11 a {background:url(/html/admin/img/sub/img_st11.png) no-repeat 50% 60px}
body.admin #cotainer #content .newContent td.bg12 a {background:url(/html/admin/img/sub/img_st12.png) no-repeat 50% 60px}
body.admin #cotainer #content .newContent td.bg13 a {background:url(/html/admin/img/sub/img_st13.png) no-repeat 50% 57px}
body.admin #cotainer #content .newContent td.bg14 a {background:url(/html/admin/img/sub/img_st14.png) no-repeat 50% 44px}
body.admin #cotainer #content .newContent td.bg15 a {background:url(/html/admin/img/sub/img_st15.png) no-repeat 50% 44px}
body.admin #cotainer #content .newContent td.bg16 a {background:url(/html/admin/img/sub/img_st16.png) no-repeat 50% 60px}
body.admin #cotainer #content .newContent td.bg17 a {background:url(/html/admin/img/sub/img_st17.png) no-repeat 50% 60px}
body.admin #cotainer #content .newContent td a:hover,
body.admin #cotainer #content .newContent td a:focus,
body.admin #cotainer #content .newContent td a:active,
body.admin #cotainer #content .newContent td a.on {background-color:#3e3e3e}
body.admin #cotainer #content .newContent td a:hover span,
body.admin #cotainer #content .newContent td a:focus span,
body.admin #cotainer #content .newContent td a:active span,
body.admin #cotainer #content .newContent td a.on span {color:#b2b2b2;background:url(/html/admin/img/sub/ico_check.png) no-repeat 55% bottom}
body.admin #cotainer #content .newContent td a:hover span strong,
body.admin #cotainer #content .newContent td a:focus span strong,
body.admin #cotainer #content .newContent td a:active span strong,
body.admin #cotainer #content .newContent td a.on span strong {color:#fff}

body.admin #cotainer .cont_bot {position:relative;height:22px;margin-bottom:64px}
body.admin #cotainer .cont_bot .info {margin-top:7px}
body.admin #cotainer .cont_bot .btn {position:absolute;right:0;top:0}
body.admin #cotainer #footer {text-align:center;margin-bottom:40px}

/* STEP 02 */
body.admin #cotainer #content.bcb7 {border-color:#b7b7b7}
body.admin #content .head {padding:25px 48px}
body.admin #content .head .img {margin-right:5px}
body.admin #content .mid {padding:0 50px;height:497px;background:#f2f2f2;border-top:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2}
body.admin #content .mid ul li {position:relative;float:left;width:100%;min-height:165px;border-top:1px dotted #c2c2c2}
body.admin #content .mid ul li:first-child {border:0}
body.admin #content .mid ul li .img {float:left;margin-top:45px;border:2px solid #000}
body.admin #content .mid ul li p {margin-left:78px;font-weight:600;line-height:1;letter-spacing:-2px}
body.admin #content .mid ul li p.fname {margin-bottom:5px;margin-top:52px;font-size:18px;color:#424242}
body.admin #content .mid ul li p.span {letter-spacing:-1px;font-size:11px;color:#979797;font-family:Tahoma,dotum}
body.admin #content .mid ul li p.size {font-size:32px;color:#979797;font-family:Tahoma,dotum}
body.admin #content .mid ul li .inp, body.admin #content .news_mid .news_layout .filebox {display:block;position:absolute;top:94px;left:198px;padding-left:17px;background:url(/html/admin/img/sub/ico_file.png) no-repeat 0 4px}
body.admin #content .mid ul li .inp input, body.admin #content .news_mid .news_layout .filebox input {padding:0 5px;font-size:11px;font-family:dotum;background:#fff;color:#979797;width:490px;height:20px;border:1px solid #e3e3eb;border-top-color:#aaadb2}
body.admin #content .mid ul li .inp .inp_info, body.admin #content .news_mid .news_layout .filebox .inp_info {position:absolute;left:26px;top:2px;font-size:11px;color:#979797;font-family:Tahoma,dotum}


body.admin #content .bot {height:159px;padding:0 50px}
body.admin #content .bot p {padding-top:38px}
body.admin #content .bot p.pd_t { padding-top: 10px!important;}
body.admin #content .bot .clock {margin-right:18px;vertical-align:middle;font-weight:bold;line-height:1.2;display:inline-block;font-size:12px;color:#979797;padding: 3px 0 3px 42px;background:url(/html/admin/img/sub/ico_clock.gif) no-repeat}
body.admin #content .bot p input {padding:0 5px;margin-right:8px;vertical-align:middle;height:20px;width:131px;border:1px solid #e3e3eb;border-top-color:#aaadb2}
body.admin #content .bot p label {margin-right:18px;vertical-align:middle;display:inline-block;font-size:25px;color:#474747;font-weight:bold}
body.admin #content .bot p.pd_t label {color: #474747;display: inline-block;font-size: 25px;font-weight: bold;margin-right: 5px;vertical-align: middle;}
body.admin #content .bot p.pd_t label span{font-size: 14px; margin-left:5px;}
body.admin #content .bot01 {height:83px;padding:0 50px; border-top:1px solid #d9d9d9;}
body.admin #content .bot01 p {padding-top:28px;}
body.admin #content .bot01 p label { font-size:18px; font-weight:bold;}
body.admin #content .bot01 p input {width:290px; margin-left:5px;  border-color: #AAADB2 #E3E3EB #E3E3EB;border-image: none;border-right: 1px solid #E3E3EB;border-style: solid;border-width: 1px;height: 20px; margin-right: 8px; padding: 0 5px; vertical-align: middle;}
body.admin #content .bot01 p span{font-size:12px; color:#979797; }
body.admin.gallery .h157 {min-height: 157px !important;}
body.admin #content .bot03_1 {height: 157px!important;}

/* STEP 03 */
body.admin #content .aleft {float:left;width:507px;height:582px;border-right:1px solid #cdcdcd;}
body.admin #content .al_head {position:relative;height:71px;padding: 31px 0 0 16px;border-bottom:1px solid #cdcdcd}
body.admin #content .al_head01 span {font-size:19px; color:#717171; letter-spacing:-1px; vertical-align:bottom;}
body.admin #content .al_head .img {margin: 0 5px 2px 0}
body.admin #content .al_head .btn {height:25px;vertical-align:bottom;display:inline-block}
body.admin #content .al_head .rinfo {vertical-align:bottom;font-size:12px;color:#2d2d2d;font-weight:normal;display:inline-block;height:24px;line-height:24px}
body.admin #content .al_head select {display:inline-block;vertical-align:bottom;margin-bottom:4px;border:1px solid #e2e9ef;border-top-color:#aaadb2;font-size:12px}
body.admin #content .al_head a {display:inline-block;vertical-align:bottom;margin-bottom:4px;}
body.admin #content .al_head checkBox {display:inline-block;vertical-align:bottom;margin-bottom:4px;}
body.admin #content .al_head .rinfo02 {vertical-align:-7px}
body.admin #content .al_head .rinfo .orange,
body.admin #content .al_head .rinfo strong {color:#ff5613}
body.admin #content .al_head .rinfo .big {font-size:17px;font-family:Tahoma;font-weight:bold}
body.admin #content .al_head .rinfo .big .blit {font-weight:normal;color:#ccc}
body.admin #content .al_head .checkBox {position:absolute;right:17px;top:53px}
body.admin #content .al_head .checkBox #allCheck {height:13px;font-size:0;vertical-align:0px;*vertical-align:1px;line-height:0}
body.admin #content .al_head .checkBox label {margin-left:-2px;height:13px;display:inline-block;vertical-align:2px;line-height:1;font-size:11px;color:#2d2d2d;font-weight:normal}
body.admin #content .al_head .checkBox .btn,
body.admin #content .al_head .checkBox .btn img {font-size:0;display:inline-block;vertical-align:middle;line-height:0}
body.admin .con_info {font-size:11px;color:#2d2d2d;height:30px;margin-top:-30px;text-align:right;line-height:30px;
background:url(/html/admin/img/sub/ico_ddrop.gif) no-repeat 540px 0}
body.admin #content .allScroll {height:479px;overflow-x:hidden;overflow-y:scroll}
body.admin #content .allScroll > li {float:left;padding-left:4%;width:96%;height:33px;border-top:1px solid #cdcdcd;font-size:12px;color:#2d2d2d;line-height:33px;overflow:hidden;position:relative}
body.admin #content .allScroll > li > div {width:100%;height:100%}
body.admin #content .allScroll > li:first-child {border:0}
body.admin #content .allScroll > li span {color:#9f9f9f}
body.admin #content .allScroll > li span.blit {color:#ccc}
body.admin #content .allScroll > li span.blits {display:inline-block;align:right}
body.admin #content .allScroll > li .btn {position:absolute;right:10px;*right:30px;top:8px}
body.admin #content .allScroll > li .btn2 {position:absolute;right:10px;*right:30px;top:28px}
body.admin #content .allScroll > li .btn input {width:13px;height:13px;vertical-align:middle;font-size:0;line-height:0}
body.admin #content .allScroll > li.dragbox {cursor:move}
body.admin #content .allScroll.twoTab {height:407px;border-bottom:1px solid #dbdbdb;background:#f6f6f6}
body.admin #content .allScroll.twoTab > li {border-top-color:#f6f6f6}
body.admin #content .allScroll .cbox {height:13px;width:13px;line-height:0;font-size:0;vertical-align:middle}
body.admin #content .botSelect {padding: 0 10px;height:px;line-height:33px}
body.admin #content .botSelect select {margin-right:5px;height:20px;width:302px;border:1px solid #e2e9ef;border-top-color:#aaadb2}
body.admin #content .botSelect01_1{margin-top:5px;}
body.admin #content .botSelect01_1 input{border-color: #AAADB2 #E3E3EB #E3E3EB;border-image: none;border-right: 1px solid #E3E3EB;border-style: solid;border-width: 1px;height: 20px;  padding: 0 5px; vertical-align: middle;width:295px; font-size:12px;}
body.admin #content .botSelect01_2 select {border-color: #AAADB2 #E3E3EB #E3E3EB;border-image: none;border-right: 1px solid #E3E3EB;border-style: solid;border-width: 1px;width:430px; margin-right:5px; margin-top:5px;font-size:12px; font-weight:bold;height:20px;}
body.admin #content .aright {float:left;width:388px;height:582px;}
body.admin #content .allScroll01 > li {height: 43px; line-height: 18px; padding-top:9px;}
body.admin #content .allScroll01 > li span.pad01{margin-left:50px;color:#2d2d2d;}
body.admin #content .allScroll01 > li span.pad02{margin-left:30px;color:#2d2d2d;}
body.admin #content .allScroll01 input{margin-right:5px;}
body.admin #content .allScroll01 > li span.blit {margin-right:5px; }
body.admin #content .allScroll01 > li.paging {padding-left:98px; height:34px; width:78%;}
body.admin #content .allScroll01 > li.paging span img {font-size: 0; line-height: 0; margin: 2px 0 0;}
body.admin #content .allScroll01 > li.paging ul {display: inline;}
body.admin #content .allScroll01 > li.paging ul li {display: inline;padding: 0 2px 0 2px;} 
body.admin #content .allScroll01 > li.paging ul li .color01 {color:#ec7811; font-weight:bold;}
body.admin #content .allScroll01 > li.paging * { line-height: 1.1em; vertical-align: middle;}
body.admin #content .twoTab01 > li {height:43px; line-height: 18px; padding-top:9px;}
body.admin #content .twoTab01 > li span.pad01{margin-left:22px;color:#2d2d2d;}
body.admin #content .twoTab01 input{margin-right:5px;}





/* STEP 04 */
body.edit04 #content {height:535px}
body.admin #content .brand {padding:0 18px;height:62px;line-height:62px;border-bottom:1px solid #d8d8d8;background:#f6f6f6;color:#000}
body.admin #content .brand label {font-weight:bold;color:#000;font-size:12px}
body.admin #content .brand01 {color:#000;font-size:12px}
body.admin #content .brand01 span{margin-left:10px;}
body.admin #content .brand select {margin-left:10px;color:#000;width:335px;height:20px;border:1px solid #e2e2ec;border-top-color:#aaadb2}
body.admin #content .brand_bot {background:#f6f6f6;height:680px;padding:20px 18px}/*sun*/
body.admin #content .brand_bot p {float:left;color:#000;font-size:12px;font-weight:bold}
body.admin #content .brand_bot ul {margin-left:68px} 
body.admin #content .brand_bot ul li {height:33px;font-size:12px;color:#2d2d2d}
body.admin #content .brand_bot ul li label {margin-left:5px;*margin-left:2px}
body.admin #content .botSelect01{border-top:1px solid #dbdbdb; background:#fff; padding: 0 15px}
body.admin #content .botSelect01 select{width:410px; margin-top:15px; font-weight:bold; font-size:12px;}
body.admin #content .allScroll.tlwhite {height:417px;padding-top:11px}
body.admin #content .allScroll.tlwhite li {border-top-color:#fff}
body.admin #content .allScroll.tlwhite li.gray {background:#f0f0f0;color:#bdbdbd}
/* STEP 05 */

body.admin #content .broad_hd {padding:31px 28px 31px 20px;border-bottom:1px solid #d8d8d8}
body.admin #content .broad_hd h4 {float:left;width:auto;}
body.admin #content .broad_hd p {padding:26px 0 0 0;float:right;text-align:right;font-size:12px;line-height:12px;}
body.admin #content .brand_nm {background:#f6f6f6;padding:20px 0 20px 20px;}
body.admin #content .brand_nm p {float:left;font-weight:600;font-size:12px;line-height:22px;margin:0 18px 0 0;}
body.admin #content .brand_nm .select_form {float:left;width:406px;margin:0 35px 0 0;}
body.admin #content .brand_nm select {width:336px;height:22px;font-size:12px;}
body.admin #content .brand_nm label {font-size:12px;margin:0 15px 0 6px;}
body.admin .bd_list {width:100%;margin:0 0 10px 0;}
body.admin .bd_list td {padding:30px 0;text-align:center;}
body.admin .bd_list tr:first-child td {padding:10px 0 30px 0;}
body.admin .bd_list td.date {color:#838383;font-size:11px;font-family:'Tahoma';}
body.admin .bd_list td.date strong {font-size:30px;color:#000;}
body.admin .bd_list td.brand img {border:1px solid #e2e2e2;}
body.admin .bd_list td.bd_txt {text-align:left;text-indent:10px;}
body.admin .bd_list td.bd_txt .time_t {font-weight:600;font-family:'Tahoma';margin:-10px 0 0;}
body.admin .bd_list td.bd_txt .time_t span {position:relative;top:-3px;display:inline-block;padding:0 0 0 15px;font-size:12px;color:#838383;background:url(/html/admin/img/sub/time.gif) no-repeat 10px center;}
body.admin .bd_list td.bd_txt .time_t strong {color:#000;font-size:20px;}
body.admin .bd_list td.bd_txt .layout {font-size:12px;color:#838383;}
body.admin .bd_list td.bd_txt .layout a {margin:0 10px 0 0;}
body.admin .bd_list td.bd_btn a:first-child {display:inline-block;margin:0 0 7px 0;}
body.admin .bd_list td.bd_air a {display:inline-block;border-left:1px solid #d8d8d8;padding:0 0 0 25px;}
body.admin .board_pager {clear: both;margin:10px 0 70px 0;text-align: center;}
body.admin .board_pager li {display:inline;}
body.admin .board_pager li img {vertical-align: middle;}
body.admin .board_pager ol {display: inline;padding: 0 5px;}
body.admin .board_pager ol li {border-left:1px solid #e9e9e9;padding: 0 5px 0 10px;}
body.admin .board_pager ol li:first-child {border:none;padding:0;}
body.admin .board_pager ol li a {font-size:12px;font-family:'Tahoma';font-weight:600;color:#404040;}
body.admin .board_pager ol li.current {position:relative;left:7px;font-size:12px;font-weight:600;color:#d85825;background:#f7f7f7;border:1px solid #d5d7d8;border-top:1px solid #c1c1c4;border-radius:3px;padding:4px 8px;}

/* login */
body.admin_login {overflow:hidden;background:url(/html/admin/img/login/bg01.gif)}
body.admin_login #wrap {position:absolute;width:547px;left:50%;margin-left:-273px;top:50%;margin-top:-160px;padding: 0 6px 0 5px;height:318px;background:url(/html/admin/img/login/bg_loginBox.png) no-repeat center 0}
body.admin_login #wrap h1 {width:166px;height:57px;padding-top:25px;margin: 0 auto}
body.admin_login #wrap .id {position:absolute;top:114px;left:62px;display:block;width:271px;height:34px;background:url(/html/admin/img/login/bg_loginInput.gif) no-repeat}
body.admin_login #wrap .pass {position:absolute;top:159px;left:62px;display:block;width:271px;height:34px;background:url(/html/admin/img/login/bg_loginInput.gif) no-repeat}
body.admin_login #wrap .inp {margin: 7px 0 0 10px;border:0;width:250px;height:20px;background:#f3f3f3;font-size:13px;font-family:Myriad Pro,dotum;color:#aeaeae}
body.admin_login #wrap .inp:hover,
body.admin_login #wrap .inp:focus,
body.admin_login #wrap .inp:active {color:#333}
body.admin_login #wrap .btn {position:absolute;top:114px;left:362px}
body.admin_login #wrap .check {display:block;position:absolute;top:213px;left:62px}
body.admin_login #wrap .check input {margin-right:3px;font-size:0;line-height:0;vertical-align:middle}
body.admin_login #wrap .check label {display:inline-block;*zoom:1;position:relative;width:71px;height:12px;background:url(/html/admin/img/login/txt_login.png) no-repeat;font-size:0;line-height:0;vertical-align:middle}
body.admin_login #wrap h2 {margin: 0 auto;width:416px;height:25px;padding-top:210px}

 
/* mid : no height */
body.admin #content .mid_h_no ul.mid_row li .inp, body.admin #content .news_mid .news_layout .filebox {display:block;position:absolute;top:94px;left:198px;padding-left:17px;background:url(/html/admin/img/sub/ico_file.png) no-repeat 0 4px}
body.admin #content .mid_h_no ul.mid_row li .inp input, body.admin #content .news_mid .news_layout .filebox input {padding:0 5px;font-size:11px;font-family:dotum;background:#fff;color:#979797;width:490px;height:20px;border:1px solid #e3e3eb;border-top-color:#aaadb2}
body.admin #content .mid_h_no ul.mid_row li .inp .inp_info, body.admin #content .news_mid .news_layout .filebox .inp_info {position:absolute;left:26px;top:2px;font-size:11px;color:#979797;font-family:Tahoma,dotum}


body.admin #content .mid_h_no {padding:0 50px 40px 50px;background:#f2f2f2;border-top:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2; overflow:auto;}
body.admin #content .mid_h_no ul.mid_row li {position:relative;float:left;width:100%;min-height:165px;border-top:1px dotted #c2c2c2}
body.admin #content .mid_h_no ul.mid_row li:first-child {border:0}
body.admin #content .mid_h_no ul.mid_row li .img {float:left;margin-top:45px;border:2px solid #000}
body.admin #content .mid_h_no ul.mid_row li p {margin-left:78px;font-weight:600;line-height:1;letter-spacing:-2px}
body.admin #content .mid_h_no ul.mid_row li p.fname {margin-bottom:5px;margin-top:52px;font-size:18px;color:#424242}
body.admin #content .mid_h_no ul.mid_row li p.span {letter-spacing:-1px;font-size:11px;color:#979797;font-family:Tahoma,dotum}
body.admin #content .mid_h_no ul.mid_row li p.size {font-size:32px;color:#979797;font-family:Tahoma,dotum}
body.admin #content .mid_h_no ul.mid_row li .input_filest {display:inline-block;background:url(/html/admin/img/sub/ico_file.png) no-repeat 0 4px; padding-left: 20px; position:relative;}
body.admin #content .mid_h_no ul.mid_row li .input_filest input {padding:0 5px;font-size:11px;font-family:dotum;background:#fff;color:#979797;width:490px;height:20px;border:1px solid #e3e3eb;border-top-color:#aaadb2}
body.admin #content .mid_h_no ul.mid_row li .input_filest .inp_info {position:absolute;left:32px;top:2px;font-size:11px;color:#979797;font-family:Tahoma,dotum}
body.admin #content .wrap_clock .clock {margin-right:18px;vertical-align:middle;font-weight:bold;line-height:1.2;display:inline-block;font-size:12px;color:#979797;padding: 3px 0 3px 42px;background:url(/html/admin/img/sub/ico_clock.gif) no-repeat}
body.admin #content .wrap_clock input {padding:0 5px;margin-right:8px;vertical-align:middle;height:20px;width:131px;border:1px solid #e3e3eb;border-top-color:#aaadb2}
body.admin #content .wrap_clock label {color: #474747;display: inline-block; font-size: 25px; font-weight: bold; margin-right: 18px; vertical-align: middle;}
.tarea {border-color: #AAADB2 #E2E9EF #E2E9EF; border-image: none; border-right: 1px solid #E2E9EF; border-style: solid; border-width: 1px; color: #979797; font-size: 12px; line-height: 1.2; padding: 15px 20px; vertical-align: top;}
.ul_text_info {font-size: 12px; color:#8d8d8d;}
body.admin #content .mid_h_no ul.mid_row .ul_text_info li {min-height:auto!important; clear:both!important; border-top:none!important; letter-spacing:-0.03em; padding-bottom: 15px;}
body.admin #content .mid_h_no ul.mid_row .ul_text_info li label {font-weight:bold; display:inline-block; padding-right:1px;}
body.admin #content .mid_h_no ul.mid_row .ul_text_info li input {border-color: #AAADB2 #E2E9EF #E2E9EF;border-image: none;border-right: 1px solid #E2E9EF;border-style: solid;border-width: 1px;color: #979797;font-size: 12px;height: 20px;margin: 0 7px 0 4px;padding: 0 9px;vertical-align: middle;}
.wrap_right {float:left; margin-left:40px;}
.wrap_right p.fname {margin-left:0!important;padding-bottom: 10px;}
.txt_bold {font-weight:bold; color: #000; display:inline-block; width:18px;}
.pl28 {padding-left: 28px;}
.mb30 {margin-bottom: 30px;}
.mt30 {margin-top: 30px;}
.bot_h_no {border-top: 1px solid #D9D9D9;padding: 40px 50px;}

body.admin #content .mid ul li p .inp_along {display:block;position:absolute;top:0!important;left:73px;padding-left:17px;background:url(/html/admin/img/sub/ico_file.png) no-repeat 0 4px}
body.admin #content .mid ul li .inp_along input {padding:0 5px;font-size:11px;font-family:dotum;background:#fff;color:#979797;width:490px;height:20px;border:1px solid #e3e3eb;border-top-color:#aaadb2}
body.admin #content .mid ul li .inp_along .inp_info {position:absolute;left:26px;top:5px;font-size:11px;color:#979797;font-family:Tahoma,dotum; font-weight:normal; letter-spacing:0;}

.along_file label {position:relative; top:6px;}
.inblock {display:inline-block!important;}
.f_left {float:left!important;}
.lineheight15 {line-height:1.5em!important;}
.posi_t5 {position:relative; top:5px;}