@charset "utf-8";

.mt_26 {margin-top:26px !important}

/* 갤러리 슬리이드 */
body.admin.gallery #content .mid {height:auto;min-height:352px}
body.admin.gallery #content .mid ul li {height:auto;min-height:351px}
body.admin #content .mid ul li .inp.point01 {top:131px;}
body.admin #content .mid ul li .inp.point02 {top:168px;}
body.admin #content .mid ul li .inp.point03 {top:205px;}
body.admin #content .mid ul li .inp.point04 {top:242px;}
body.admin #content .mid ul li .inp.point05 {top:279px;}
body.admin #content .mid ul li .inp.point06 {top:316px;}
body.admin #content .mid ul li .inp.point07 {top:353px;}
body.admin #content .mid ul li .inp.point08 {top:390px;}
body.admin #content .mid ul li .inp.point09 {top:427px;}
body.admin #content .mid ul li .inp.point10 {top:464px;}
body.admin #content .mid ul li .inp.point11 {top:501px;}
body.admin #content .mid ul li .clock {padding-left:34px;background:url(/html/admin/img/sub/ico_sclock.png) no-repeat;letter-spacing:-1px;line-height:26px;min-height:26px;position:absolute;top:279px;left:198px;display:block;color:#979797;font-size:14px;font-weight:bold}
body.admin #content .mid ul li .clock label {color:#474747}
body.admin #content .mid ul li .clock input {background:#fff;margin: 0 8px 0 14px;width:141px;height:20px;border:1px solid #e3e3eb;border-top-color:#aaadb2}
body.admin.gallery #content .bot {height:auto;min-height:306px}
body.admin.gallery .h112 {min-height:118px !important}

/* 갤러리 상하좌우 */
body.admin #content .mid ul li p.fname .info {letter-spacing:0;color:#8d8d8d;font-size:11px;display:inline-block;margin-left:10px;vertical-align:middle;line-height:1.5}
body.admin #content .mid ul li p.fname .info span {font-size:12px}

/* 그룹형 제품홍보 */
body.admin.gallery.gp #content .head {background:#f2f2f2}
body.admin.gallery.gp #content .mid {border-top:0;min-height:2191px}
body.admin.gallery #content .mid ul li.one {min-height:140px}
body.admin.gallery #content .mid ul li.two {min-height:570px}
body.admin.gallery #content .mid ul li.three {min-height:1509px}
body.admin #content .mid ul li p.size {margin-bottom:6px}
body.admin.gallery #content .mid ul li .inpGroup {margin:20px 0 0 150px}
body.admin.gallery #content .mid ul li .inpGroup p {white-space:nowrap;margin:0;padding:0;color:#000;font-size:12px;font-weight:bold;letter-spacing:-1px; position:relative;}
body.admin.gallery #content .mid ul li .inpGroup p.h27 {height:22px;margin-bottom:5px;line-height:22px}
body.admin.gallery #content .mid ul li .inpGroup p.h83 {height:77px;margin-bottom:6px}
body.admin.gallery #content .mid ul li .inpGroup p.h37 {height:37px;}
body.admin.gallery #content .mid ul li .inpGroup p input {padding: 0 9px;height:20px;margin:0 7px 0 4px;border:1px solid #e2e9ef;border-top-color:#aaadb2;vertical-align:middle;color:#979797;font-size:12px}
body.admin.gallery #content .mid ul li .inpGroup p label {color:#979797;display:inline;vertical-align:middle}
body.admin.gallery #content .mid ul li .inpGroup p.h27 label:first-child {margin-left:6px}
body.admin.gallery #content .mid ul li .inpGroup p input:hover,
body.admin.gallery #content .mid ul li .inpGroup p input:active,
body.admin.gallery #content .mid ul li .inpGroup p input:focus {color:#666}
body.admin.gallery #content .mid ul li .inpGroup p .sn {width:87px}
body.admin.gallery #content .mid ul li .inpGroup p .cash {width:49px}
body.admin.gallery #content .mid ul li .inpGroup p .product {width:330px;margin-right:0}
body.admin.gallery #content .mid ul li .inpGroup p.h83 .tarea {font-size:12px;color:#979797;line-height:1.2;padding: 15px 20px;vertical-align:top;width:561px;height:45px;border:1px solid #e2e9ef;border-top-color:#aaadb2}
body.admin.gallery #content .mid ul li .inpGroup p.h83 .tarea:hover,
body.admin.gallery #content .mid ul li .inpGroup p.h83 .tarea:active,
body.admin.gallery #content .mid ul li .inpGroup p.h83 .tarea:focus {color:#666}
body.admin.gallery #content .mid ul li .inpGroup p.h83 label {vertical-align:top;display:inline-block;padding-top:3px;margin-right:2px}



body.admin.gallery #content .mid ul li .inpGroup2 {margin:20px 0 0 150px}
body.admin.gallery #content .mid ul li .inpGroup2 p {white-space:nowrap;margin:0;padding:0;color:#000;font-size:12px;font-weight:bold;letter-spacing:-1px}
body.admin.gallery #content .mid ul li .inpGroup2 p.h27 {height:22px;margin-bottom:5px;line-height:22px}
body.admin.gallery #content .mid ul li .inpGroup2 p.h83 {height:77px;margin-bottom:6px}
body.admin.gallery #content .mid ul li .inpGroup2 p input {padding: 0 9px;height:20px;margin:0 7px 0 4px;border:1px solid #e2e9ef;border-top-color:#aaadb2;vertical-align:middle;color:#979797;font-size:12px}
body.admin.gallery #content .mid ul li .inpGroup2 p label {color:#979797;display:inline;vertical-align:middle}
body.admin.gallery #content .mid ul li .inpGroup2 p.h27 label:first-child {margin-left:6px}
body.admin.gallery #content .mid ul li .inpGroup2 p input:hover,
body.admin.gallery #content .mid ul li .inpGroup2 p input:active,
body.admin.gallery #content .mid ul li .inpGroup2 p input:focus {color:#666}
body.admin.gallery #content .mid ul li .inpGroup2 p .sn {width:87px}
body.admin.gallery #content .mid ul li .inpGroup2 p .cash {width:49px}
body.admin.gallery #content .mid ul li .inpGroup2 p .product {width:330px;margin-right:0}
body.admin.gallery #content .mid ul li .inpGroup2 p.h83 .tarea {font-size:12px;color:#979797;line-height:1.2;padding: 15px 20px;vertical-align:top;width:561px;height:45px;border:1px solid #e2e9ef;border-top-color:#aaadb2}
body.admin.gallery #content .mid ul li .inpGroup2 p.h83 .tarea:hover,
body.admin.gallery #content .mid ul li .inpGroup2 p.h83 .tarea:active,
body.admin.gallery #content .mid ul li .inpGroup2 p.h83 .tarea:focus {color:#666}
body.admin.gallery #content .mid ul li .inpGroup2 p.h83 label {vertical-align:top;display:inline-block;padding-top:3px;margin-right:2px}





