@charset "utf-8";

body.admin .board_pager ol li.current {position:relative;left:0;padding:1px 8px;}
body.admin #content .news_mid .ly02 .filebox {position:absolute;top:348px;left:178px;}
body.admin #content .news_mid .ly03 .filebox {position:absolute;top:650px;left:178px;}
body.admin #content .news_mid .ly04 .filebox {position:absolute;top:955px;left:178px;}
body.admin #content .news_mid .ly05 .filebox {position:absolute;top:1252px;left:178px;}