h3{margin-bottom:18px; font-size:18px; margin-top:35px; }
h3 .cmt{font-weight:normal; font-size:13px; color:#888;}

/*container*/
#container h2{color:#222;}
#container {width:960px;margin:50px auto 140px auto}
#container h2 {margin:0 0 30px 0;font-size:26px;font-weight:600}

/* recruit/post/resumeView01 */
.resumeView h3{margin-top:35px;}
.resumeView .tabmenu{padding-bottom:10px;}
.resumeView .table_write th, 
.resumeView .table_write td{padding-left:20px;}
.resumeView .table_write.table_col th,
.resumeView .table_write.table_col td{padding-left:0;}
.resumeView .table_write th{background-color:#f6f6f6}
.resumeView .table_write td{font-size:12px;}
.resumeView .table_write td img{vertical-align:middle; border:1px solid #e7e7e7;}
.section_recruit .resumeView .individual_info{padding-left:0;}
.section_recruit .introduction_info .text{padding:15px 95px 25px 20px; line-height:22px; font-size:12px; color:#48494c; background-color:#fff; border:1px solid #e2e2e2; border-radius:6px;}

/*게시판 서식스타일*/
.table_write {border-top:1px solid #bababa;border-bottom:1px solid #bababa}
.table_write th, .table_write td {height:20px;line-height:20px;vertical-align:middle;border-top:1px solid #e8e8e8}
.table_write th {font-size:12px;text-align:left;padding:0 0 0 25px;background:url("/images/icon/table_thIcon.gif") no-repeat 12px center}
.table_write .th_non th {background:none}
.table_write tr:first-child th, .table_write tr:first-child td {border-top:none}
.table_write .check {vertical-align:middle;margin-left:10px;}
.tbl_writeTxt {color:#888;margin:0 0 0 20px}
.table_write select {padding:8px 0;vertical-align:middle;border:1px solid #d6d6d6;background:#f9f9f9;border-radius:5px}

/* recruit/post/resumeWrite */
.resumeWrite h3{margin-top:35px;}

.resumeWrite .step{overflow:hidden; height:71px; background:url(/images/comm/resume_step.png) no-repeat;}
.resumeWrite .step1_on{background-position:0 0;}
.resumeWrite .step2_on{background-position:0 -72px;}
.resumeWrite .step3_on{background-position:0 -144px;}
.resumeWrite .step4_on{background-position:0 -216px;}
.resumeWrite .step li{float:left; width:240px;}
.resumeWrite .step li.step3{width:226px;}
.resumeWrite .step li.step4{width:254px;}
.resumeWrite .step li a{display:block; height:71px; text-indent:-5000px;}

.table_write .input_w5{width:5%;}
.table_write .input_w10{width:10%;}
.table_write .input_w15{width:15%;}
.table_write .input_w20{width:20%;}
.table_write .input_w25{width:23.5%;}
.table_write .input_w30{width:30%;}
.table_write .input_w35{width:35%;}
.table_write .input_w40{width:40%;}
.table_write .input_w50{width:50%;}
.table_write .input_w60{width:60%;}
.table_write .input_w70{width:70%;}
.table_write .input_w75{width:75%;}
.table_write .input_w80{width:80%;}
.table_write .input_w85{width:85%;}
.table_write .input_w90{width:90%;}
.table_write .input_w95{width:95%;}
.table_write td.control a.btn_add{display:inline-block; margin:0 2px; width:28px; height:28px; cursor:pointer; text-indent:-5000px; vertical-align:middle; background:url(/images/icon/ico_split2.png) 0 -15px no-repeat;}
.table_write td.control a.btn_del{display:inline-block; margin:0 2px; width:28px; height:28px; cursor:pointer; text-indent:-5000px; vertical-align:middle; background:url(/images/icon/ico_split2.png) -29px -15px no-repeat;}
.table_write td.control a.btn_del.disabled{background-position:-58px -15px;}

.table_write td.control .btn01_add{display:inline-block; margin:0 2px; width:28px; height:28px; text-indent:-5000px; vertical-align:middle; background:url(/images/icon/ico_split2.png) 0 -15px no-repeat;}
.table_write td.control .btn01_del{display:inline-block; margin:0 2px; width:28px; height:28px; text-indent:-5000px; vertical-align:middle; background:url(/images/icon/ico_split2.png) -29px -15px no-repeat;}
.table_write td.control .btn01_del.disabled{background-position:-58px -15px;}
.table_write td.control .btn02_1_add{display:inline-block; margin:0 2px; width:28px; height:28px; text-indent:-5000px; vertical-align:middle; background:url(/images/icon/ico_split2.png) 0 -15px no-repeat;}
.table_write td.control .btn02_1_del{display:inline-block; margin:0 2px; width:28px; height:28px; text-indent:-5000px; vertical-align:middle; background:url(/images/icon/ico_split2.png) -29px -15px no-repeat;}
.table_write td.control .btn02_1_del.disabled{background-position:-58px -15px;}
.table_write td.control .btn02_2_add{display:inline-block; margin:0 2px; width:28px; height:28px; text-indent:-5000px; vertical-align:middle; background:url(/images/icon/ico_split2.png) 0 -15px no-repeat;}
.table_write td.control .btn02_2_del{display:inline-block; margin:0 2px; width:28px; height:28px; text-indent:-5000px; vertical-align:middle; background:url(/images/icon/ico_split2.png) -29px -15px no-repeat;}
.table_write td.control .btn02_2_del.disabled{background-position:-58px -15px;}
.table_write td.control .btn02_3_add{display:inline-block; margin:0 2px; width:28px; height:28px; text-indent:-5000px; vertical-align:middle; background:url(/images/icon/ico_split2.png) 0 -15px no-repeat;}
.table_write td.control .btn02_3_del{display:inline-block; margin:0 2px; width:28px; height:28px; text-indent:-5000px; vertical-align:middle; background:url(/images/icon/ico_split2.png) -29px -15px no-repeat;}
.table_write td.control .btn02_3_del.disabled{background-position:-58px -15px;}

.section_recruit .tip{float:right; margin-top:-35px; font-size:13px;}
.section_recruit .tip .ico_notice{width:14px; height:14px; background:url(/images/icon/ico_split2.png) 0 0;}
.section_recruit .tip .control{display:inline-block; margin-top:-1px; width:30px; height:14px; text-indent:-5000px; vertical-align:middle; background:url(/images/icon/ico_split2.png) -18px 0 no-repeat;}

.resumeWrite .table_write th, 
.resumeWrite .table_write td{padding-left:0;}
.section_recruit .table_write thead th{text-align:center; border-bottom:1px solid #e8e8e8;}
.section_recruit .table_write td label{}
.section_recruit .table_col td{text-align:center;}
.section_recruit .table_col select{width:90%;}
.section_recruit .table_col td span{margin:0 3px;}

.section_recruit .individual_info{position:relative; padding-left:284px;}
.section_recruit .individual_info .photo_area{position:lute; top:0; left:0; padding:59px 25px 0 25px; width:188px; height:355px; background-color:#f9f9f9; border:1px solid #d3d3d3;}
.section_recruit .individual_info .photo_area .photo{height:245px; text-align:center;}
.section_recruit .individual_info .photo_area .photo img{margin-bottom:20px;}
.section_recruit .individual_info .photo_area .photo .btn_upload{position:relative; display:inline-block; width:118px; height:32px;}
.section_recruit .individual_info .photo_area .photo .btn_upload input{position:lute; top:0; left:0; width:118px; height:32px;}
.section_recruit .individual_info .photo_area .info{padding-top:30px; border-top:1px solid #ccc;}
.section_recruit .individual_info .photo_area .info p{line-height:22px; font-size:13px; color:#717171;}
.section_recruit .individual_info .photo_area .info p:before{content:" "; display:inline-block; margin-right:5px; width:3px; height:3px; vertical-align:middle; background-color:#000;}
.section_recruit .individual_info td.number span{margin:0 3px;}
.section_recruit .individual_info td.number select{width:25%;}
.section_recruit .individual_info td.address input{margin-right:3px;}

.section_recruit .apply_info td select{width:70%;}

.section_recruit .military_info td select{width:123px;}
.section_recruit .military_info td span{margin:0 5px;}
.section_recruit .military_info td .date_year{width:80px;}
.section_recruit .military_info td .date_month{width:60px;}

.section_recruit .etc_info select{width:90%;}
.section_recruit .etc_info td span{margin:0 3px;}
.section_recruit .introduction_info textarea{overflow:hidden; overflow-y:scroll; padding:20px 28px; width:900px; height:138px; line-height:20px; font-size:13px; color:#888; background-color:#f9f9f9; border:1px solid #d6d6d6; border-radius:6px;}

.introduction_info .text{padding:15px 95px 25px 20px; line-height:22px; font-size:14px; color:#48494c; background-color:#fff; border:1px solid #e2e2e2; border-radius:6px;}

/* Common-Table */
table {width:100%;color:#707070;}
table th {padding:3.5px 0;font-weight:bold;font-family:'맑은 돋움','tahoma'}
table td {padding:3.5px 0;text-align:center;;font-family:'맑은 돋움','tahoma'}
.guide_table th {padding:0;height:33px;line-height:33px;;font-family:'맑은 돋움','tahoma'}
.table_view table th, .table_view table td {padding:0;;font-family:'맑은 돋움','tahoma'}
.table_view table th {padding:0 0 0 20px;;font-family:'맑은 돋움','tahoma'}
table td.list_re {background: url("/html/admin/images/sub/list_re_icon.gif") no-repeat 22px center;padding-left:58px;}
table td.txt-left{text-align:left; padding:5px 5px 5px 3px; }

/* 업무용-member */
.table_memberList {float:left;width:100%;border-top:2px solid #6a6a6a;}
.table_memberList th, .table_memberList td {border-bottom:1px solid #c8c8c8;height:20px;line-height:20px;}
.table_memberList th {border-right:1px solid #cecece;background:#f8f8f8;color:#424242;}
.table_memberList td {border-right:1px solid #cecece;color:#424242;}
.table_memberList .text_box input {border:1px solid #e3e3eb;border-top:1px solid #acadb2;width:195px;height:20px;line-height:20px;padding:0 0 0 3px;}
.table_memberList .box_s01 input {width:69px;margin:0 11px 0 11px;}
.table_memberList .box_s01 input.fir_box {margin:0 11px 0 0;}
.table_memberList .box_s02 input {width:151px;}
.table_memberList .box_s02 select {width:182px;border:1px solid #e3e3eb;border-top:1px solid #acadb2;}
.table_memberList td.txt-left{text-align:left; padding:5px 5px 5px 3px; }
.table_memberList td.contents{height:250px;vertical-align: top;text-align:left; }
.m_select_type input {vertical-align: center;margin:0 10px 0 3px;}
.table_memberList td li {height:25px;position:relative;}
.table_memberList td li span {vertical-align: top;display:inline-block;position:relative;float:left;width:100px;margin:0 10px 0 0px;}
