@charset "utf-8";

@font-face { 
 font-family:'NanumBarunGothic';
 src: url('NanumBarunGothic.eot'); 
 src: url('NanumBarunGothic.eot?') format('eot'), 
      url('NanumBarunGothic.woff') format('woff'); 
}
@font-face { 
 font-family:'NanumBarunGothicBold';
 src: url('NanumBarunGothicBold.eot'); 
 src: url('NanumBarunGothicBold.woff') format('woff');
        font-weight:bold; 
} 
@font-face {
	font-family:'OpenSanBold';
	src:url('OpenSansBold.eot') format('eot');
	src:url('OpenSansBold.woff') format('woff');
}

/* Iosef */
html{ font-size:1em;}
body{ font-size: 0.75em; font-family:'NanumBarunGothic'; color:#707070; line-height:1.5em; -webkit-text-size-adjust:none;height:100%;margin: 0; padding: 0 0 80px; }
a, input { color:#707070;outline: none;}

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea{margin:0;padding:0; font-size:1em;font-family:'NanumBarunGothic' }
p, span, div, ul, ol, li, em, a, img, strong, dl, dt, dd, table, thead, tbody, tfoot, th, td, label, form, fieldset, legend, input, select, option, textarea {margin: 0; padding:0;}
em, cite, address, optgroup{ font-style:normal;}
kbd, samp, code{ font-family:monospace;}

img, input, button, select, textarea{ vertical-align:middle;}
ul, ol li { list-style:none;}
hr {display: none;}
img {border: 0 none; vertical-align: middle;}
a, a:link, a:visited {border: 0 none; text-decoration: none;}
a:hover, a:active {text-decoration: none;}
fieldset {display: block; border: 0 none;}
table {border-collapse: collapse; /*table-layout: fixed;*/}
caption, legend, .hidden {visibility: hidden; left: -10000px; width: 0; height: 0; font-size: 0; line-height: 0; margin: 0; padding: 0;}

/* common_class */
.ft_11 {font-size:11px;}
.underline {text-decoration:underline;}
table .left {text-align:left;padding-left:22px;}
table .font_style {font-family:'NanumBarunGothic';font-size:11px;}
table .newIcon {margin-left:6px;}
table .bold {font-weight:bold;}
.ft_c_black {color:#000;}
.ft_c_orange {color:#d56d4e}

/* 입사지원현황관리 프린트 폰트 */
body.print_font h3 {font-family:'맑은 돋움','tahoma' !important;}


/* [common] - Sub */
.location {float:left;width:100%;}
.location h2 {float:left;}
.location ul {float:right;margin-top:5px;padding:0 0 0 15px;background: url("/images/operation/sub/homeIcon.gif") no-repeat left 50%;}
.location ul li {float:left;font-size:0.9em;color:#a0a3a5;background: url("/images/operation/sub/userNav_arrow.gif") no-repeat right 50%;margin-right:10px;padding-right:8px;}
.location ul li.fin {background:none;color:#828282;margin:0;padding:0;}


/* Sub - 고객만족센터 */
.sitemap_area div {float:left;width:221px;margin-bottom:17px;}
.sitemap_area h4 {float:left;}
.sitemap_area .more {float:right;margin-top:3px;}
.sitemap_area ul {clear:both;}
.sitemap_area ul li {height:29px;line-height:29px;background:url("/images/operation/sub/bullet_icon.gif") no-repeat left center;padding-left:24px;border-bottom:1px solid #e6e6e6;}
.sitemap_area ul li a {float:left;letter-spacing:-0.05em;}
.support_link {float:left;width:753px;}
.support_link dl {float:left;width:221px;height:165px;background:url("/images/operation/sub/hi_line.gif") repeat-y right top;margin:0 22px 0 0;padding:0 23px 0 0;}
.support_link dl.fin {float:right;margin:0;padding:0;background:none;}
.support_link dl.fin a {display:inline-block;position:relative;left:115px;top:-14px;}
.support_link dl dt {margin:5px 0 25px 0;height:67px;}
.support_link dl.counsel01 {position:relative;left:-12px;top:0;}
.support_link dl.counsel01 dt {text-align:right;background: url("/images/operation/sub/counsel_img01.gif") no-repeat left top;}
.support_link dl.counsel01 dd {margin-left:12px;}
.support_link dl .callcenter img {float:left;height:11px;}
.support_link .time {float:left;margin:13px 0 6px 0;}
.support_link dl.counsel02 dt {margin-left:5px;padding-left:84px;background: url("/images/operation/sub/counsel_img02.gif") no-repeat left top;}
.support_link dl.fin dt {margin-left:5px;padding-left:97px;background: url("/images/operation/sub/counsel_img03.gif") no-repeat left top;}

/* Common-Table */
table {width:100%;color:#707070;}
table th {padding:7.5px 0;font-weight:bold;font-family:'NanumBarunGothic'}
table td {padding:7.5px 0;text-align:center;;font-family:'NanumBarunGothic'}
.guide_table th {padding:0;height:33px;line-height:33px;;font-family:'NanumBarunGothic'}
.table_view table th, .table_view table td {padding:0;;font-family:'NanumBarunGothic'}
.table_view table th {padding:0 0 0 20px;;font-family:'NanumBarunGothic'}
table td.list_re {background: url("/images/operation/sub/list_re_icon.gif") no-repeat 22px center;padding-left:58px;}
table td.txt-left{text-align:left; padding:5px 5px 5px 10px; }

/* table_paging */
.paging {clear:both;font-family: "tahoma";font-size: 11px;padding: 21px 0 37px;text-align: center;}
.paging * {line-height: 1.1em;vertical-align: middle;}
.paging a {padding: 0 4px 0 6px;}
.paging a.on{font-size:x-large;color: #fe751a;}
.paging a:hover, .paging a:active, .paging a.hover {color: #fe751a;font-weight: bold;padding: 0 4px 0 5px;}
.paging span {padding: 0;}
.paging span a, .paging span a:hover, .paging span a:active {font-weight: normal;padding: 0;}
.paging span img {font-size: 0;line-height: 0;margin: 2px 0 0;}
.paging ul {display: inline;}
.paging ul li {display: inline;}
.non_paging {clear:both;font-family: "tahoma";font-size: 11px;padding: 21px 0 0;text-align: center;}
/* table_검색어입력 */
.board_search {clear:both;background:#fafafa;padding:11px 0;border:1px solid #dcdcdc;}
.board_search dl {color: #858585;font-size: 11px;height: 100%;overflow: hidden;text-align: center;}
.board_search dl dt, .board_search dl dd {display: inline;}
.board_search select, .board_search .search_input {border:1px solid #dadfe5;border-top:1px solid #acadb2;}
.board_search select {font-size: 11px;width: 75px;height:22px;line-height:22px;}
.board_search .search_input {font-size: 11px;padding: 0 0 0 4px;width: 248px;height:20px;line-height:20px;}

/* 게시판 List */
.table_list {float:left;width:100%;background: url('/images/operation/sub/tbl_list_header.png') repeat-x left top;}
.table_list.type2 {background-size:100% 100%;}
/*.table_list.type2 table tr {background: #fff !important;}*/
.table_list table tbody tr:nth-child(odd) {background:#fff;}
.table_list table tbody tr:nth-child(even) {background:#fafafa;}
.table_list th {color:#fff;font-weight:bold;background: url('/images/operation/sub/th_scop_bar.png') no-repeat left 50%;}
.table_list th:first-child {background:none;}
.table_list td {border-top:1px solid #d8d8d8;}
.table_list td.txt-left{text-align:left; padding:5px 5px 5px 10px; }
table .notice_area td, table .notice_area td a {font-weight:bold;color:#3b3d40;}
table .notice_area .font_style {font-weight:normal;color:#707070;}
table .first_notice td , table .table_line td {background:url('/images/operation/sub/tbl_header_bg.png') repeat-x left top;}
table .last_notice td {background-image:none;}
table .last_line td {border-bottom:1px solid #b8b8b8;}
table .bgcolor td  {background:#fafafa;}
table .file a {display:inline-block;text-decoration:underline;padding-left:17px;}
.doc_file {background: url('/images/operation/sub/doc_icon.png') no-repeat left center;}
.hwp_file {background: url('/images/operation/sub/hwf_icon.png') no-repeat left center;margin:0 14px;}
.pdf_file {background: url('/images/operation/sub/pdf_icon.png') no-repeat left center;}

/* 게시판 View */
.table_view {float:left;width:753px;}
.table_view th, .table_view td {border-bottom: 1px solid #d8d8d8;text-align: left;height:28px;line-height:28px;}
.table_view th, .table_view .info dt {padding-left:20px;color: #424242;}
.table_view td {color:#707070;}
.table_view td.txt-left{text-align:left; padding:5px 5px 5px 10px; }
.table_view .view_title th {height:34px;line-height:34px;background: #fafafa url('/images/operation/sub/tbl_view_header.gif') repeat-x left top;border-bottom: 1px dotted #d8d8d8;color:#131313;}
.table_view .info {float:left;width:753px;}
.table_view .info dt {float: left;font-size:11px;font-weight: bold;margin-right:11px;}
.table_view .info dd {float: left;margin-right: 35px;}
.table_view .info .btn_print {float:right;height:15px;line-height:15px;margin:7px 20px 0 0;padding:0;}
.table_view .view_file {background:#fafafa;font-size: 11px;}
.table_view .view_file dt {clear: left;color: #2d3748;float: left;height:30px;line-height:30px;width:110px;margin:0 0 0 20px;padding-left:20px;background: url('/images/operation/sub/add_file.gif') no-repeat left center;}
.table_view .view_file dt span {color:#df623c;margin-left:13px;}
.table_view .view_file dd {display: table;height:30px;line-height:30px;}
.table_view .view_file dd ul li {line-height: 30px;}
.table_view .view_file a {color: #666666;border-left:1px solid #c5c5c5;margin-left:13px;padding-left:10px;}
.table_view .view_file a:first-child {border:none;}
.table_view .view_file a:hover {text-decoration:underline;}
.table_view .boardContView {padding:25px 20px;}
.table_view .boardContView p, .table_view .boardContView li {line-height:17px;}
.table_view .boardContView ul {margin:20px 0 0;}
.table_view .boardContView ul li {color:#474b53;margin-bottom:20px;}
.table_view .boardContView ul li span {font-size:11px;}
.tbl_listBtn {clear: both;width:52px;margin:0 auto 41px auto;padding:20px 0 0;}
.pageSkip {clear: both;width:753px;background:#f8f8f8;border-top:1px solid #b8b8b8;border-bottom:1px solid #b8b8b8;}
.pageSkip p {clear:both;height:30px;line-height:30px;color: #666;font-size: 11px;}
.pageSkip p.txtPrev {background: url("/images/operation/sub/pageSkip_up.gif") no-repeat 22px center;}
.pageSkip p.txtNext {background: url("/images/operation/sub/pageSkip_down.gif") no-repeat 22px center;border-top: 1px solid #d8d8d8;}
.pageSkip p strong {color: #424242;float: left;width: 63px;margin-left:22px;padding-left:16px;}
.pageSkip p a {float:left;}
.pageSkip p span {display:inline-block;float:right;margin-right:21px;color:#898989;font-famaily:"tahoma";font-size:11px;}

/* 게시판 Write */


/* 업무용 - 로그인 */
.login_wrap {width:100%;height:100%;background: url('/images/operation/sub/login_bg.jpg') repeat 50% 50%;}
.login_inner {width:547px;height:320px;margin:15% auto;}
.login_form h1 {margin:0 auto 30px auto;}
.login_form {float:left;width:433px;width:433px;height:206px;padding:25px 57px 50px 57px;background: url('/images/operation/sub/login_formBg.png') no-repeat left top;}
.idpwd {float:left;width: 272px;margin:0 28px 0 0;}
.idpwd  input {border:0;}
.btn_login {float:right;}
.login_form {position:relative;float:right;margin:-18px 0 0 -12px;}
.login_form span.password {margin:11px 0 0;}
.login_form span {display:inline-block;width:260px;height:34px;line-height:34px;padding-left:12px;background: url('/images/operation/sub/login_input.gif') no-repeat left top;}
.select_focus, .select_focus02 {background: url('/images/operation/sub/username.gif') no-repeat 0 11px;width:255px;height:32px;line-height:32px;}
.select_focus.blur, .select_focus02.blur {background:none;}
.select_focus02 {background: url('/images/operation/sub/password.gif') no-repeat 0 11px;}
.adm_main_footer {clear:both;margin:0 0 0 58px;}
.adm_main_footer h2 {float:left;margin:0 26px 0 0;}
.adm_main_footer p {float:left;margin:14px 0 0;}

/* 업무용 - 서브공통 */
.adm_subWrap {width:100%;height:100%;background: url('/images/operation/sub/lnb_bg.png') repeat-y left top;}
.adm_subWrap_pop {width:100%;height:100%;}
#adm_header {height:100px;background: url('/images/operation/sub/header_bg.png') repeat-x right top;border-bottom:1px solid #d3d3d3;}
.adm_hdInner {height:100px;width:100%;background: url('/images/operation/sub/header_bg02.png') no-repeat left top;position:relative;}
.adm_hdInner h1 {float:left;width:220px;height:100px;border-bottom:1px solid #444a50;}
.adm_hdInner h1 img {margin:0px 0 0 0px;}
.adm_hdInner ul {position:absolute;left:-1px;bottom:-30px;overflow:hidden;width:100%;padding-right:1px;z-index:1000}
.adm_hdInner ul  li {height:30px;line-height:25px;position:relative;left:221px;background: url('/images/operation/sub/top_list_header.png') left top;}
.adm_hdInner ul li a {color:#fff;float:left;margin:3px 0 0 24px;font-weight:bold;font-size:1.1em;background:;font-family:'NanumBarunGothic'}
.adm_cont_area {float:left;width:100%;}
.adm_lnb {float:left;width:270px;height:100%;color:#fff;}
.adm_lnbInner {border-top:1px solid #858991;width:219px;padding:30px 0 0 0;}
.administrator, .adm_time, .adm_main_lnbBtn, .adm_logout {float:left;width:195px;padding:0 0 0 25px;}
.administrator p {font-weight:bold;font-family:'NanumBarunGothic'}
.administrator ul {margin:15px 0 0;font-family:'NanumBarunGothic'}
.administrator ul li {margin: 0 0 3px 1px;font-size:0.925em;}
.administrator ul li.member_mail {background: url('/images/operation/sub/administrator_bg01.gif') no-repeat left 35%;padding:0 0 0 16px;}
.administrator ul li.member_phone {margin:0 0 0 2px;padding:0 0 0 15px;background: url('/images/operation/sub/administrator_bg02.gif') no-repeat left 35%;}
#lnb {position:relative;left:0;top:0;float:left;width:220px;margin:10px 0 25px 0;}
.adm_lnbMenu {float:left;width:220px;margin:0;padding:0;border-top:1px solid #595f67;border-bottom:1px solid #6f757b;}
.adm_lnbMenu li { position:relative;left:0;top:0;float:left;width:220px;height:31px;}
.adm_lnbMenu a {z-index:1;position:relative;left:0;top:0;display:inline-block;padding:0 0 0 25px;border-top:1px solid #6f757b;border-bottom:1px solid #595f67;width:195px;height:29px;line-height:31px;font-weight:bold;font-size:1.00em;color:#fff;font-family:'NanumBarunGothic'}
#lnb ul li a:hover, #lnb ul li a:active, #lnb ul li a.on { z-index:10;position:absolute;left:0;top:0;border:none;width:238px;height:35px;line-height:32px;background: url(/images/operation/sub/lnb_over.png) no-repeat left top;}
.adm_time {margin:0 0 0 29px;width:166px;font-size:0.925em;}
.adm_main_lnbBtn {margin:0 0 0 40px;width:182px;}
.adm_main_lnbBtn a {display:inline-block;margin:0 2px 0 0;}
.adm_logout {margin:11px 0 0 14px;width:151px;}
.adm_contents {float:left;width:75%;padding:60px 0 0;position:absolute;margin-left:270px;font-family:'NanumBarunGothic'}
.adm_contents_pop {padding:60px 0 0;font-family:'NanumBarunGothic';}
.adm_subWrap .location {margin:0 0 20px 0;}
.adm_subWrap .location div {float:left;}
.adm_subWrap .location h2 {font-size:2.165em;line-height:26px;color:#2c2928;font-family:'NanumBarunGothic'}
.adm_subWrap .location h3 {font-size:1.5em;line-height:26px;color:#2c2928;font-family:'NanumBarunGothic'}
.adm_subWrap .location span {display:inline-block;margin:4px 0 0 18px;padding:0 0 0 9px;font-size:0.925em;font-weight:normal;color:#818181;background: url(/images/operation/sub/adm_locationLine.gif) no-repeat left 44%;}
.adm_subWrap .location ul {background:none;}
.adm_submit {float:right;position:relative;right:0;top:auto;}
.adm_listBtn {clear:both;text-align:center;padding:20px 0 20px;}
.adm_listBtn a {display:inline-block;margin:0 8px 0 0;}
.adm_listBtn5 {clear:both;text-align:center;padding:5px 0 0;}
.adm_listBtn5 a {display:inline-block;margin:0 8px 0 0;}
.adm_contents .table_list tr td {font-size:1em;font-family:'NanumBarunGothic'}
.adm_contents .table_list tr td.ft_12 {font-size:12px;}
.adm_footer {clear:both;width:753px;margin:0 0 0 270px;padding:100px 0 0 0;}
.adm_footer p {margin:0 auto;width:290px;color:#868585;font-size:0.675em;}


/* 업무용-main */
.adm_main_visual {float:left;width:753px;height:114px;background: url(/images/operation/sub/adm_main_visual.png) no-repeat right 13px;margin:0 0 0 0;}
.adm_main_visual h2 {margin:0 0 15px 0;}
.adm_main_visual ul {padding:0 0 16px 0;background: url(/images/operation/sub/adm_bgline.gif) repeat-x left bottom;}
.adm_main_visual ul li {letter-spacing:-0.02em;color:#69615a;background: url(/images/operation/sub/list_dot.gif) no-repeat left 50%;margin:0 0 9px 0;padding:0 0 0 9px;}
.adm_main_visual ul .text {background: url(/images/operation/sub/list_dot.gif) no-repeat left 24%;}
.adm_main_cont {float:left;width:753px;margin:60px 0 0;}
.adm_main_site {float:left;width:753px;}
.adm_main_site .sitemap_area {float:left;width:355px;margin:0 0 41px 0;}
.adm_main_site .sitemap_area div {float:left;width:355px;}
.adm_main_site div.fin {margin:0 0 41px 43px;}
.adm_main_site .date {float:right;font-size:0.915em;font-family:'Tahoma';margin-right:2px;}

/* 업무용-member */
.table_memberList {float:left;width:100%;border-top:2px solid #6a6a6a;}
.table_memberList th, .table_memberList td {border-bottom:1px solid #c8c8c8;height:20px;line-height:20px;}
.table_memberList th {border-right:1px solid #cecece;background:#f8f8f8;color:#424242;}
.table_memberList .text_box input {border:1px solid #e3e3eb;border-top:1px solid #acadb2;width:195px;height:20px;line-height:20px;padding:0 0 0 3px;}
.table_memberList .long_text_box input {border:1px solid #e3e3eb;border-top:1px solid #acadb2;width:300px;height:20px;line-height:20px;padding:0 0 0 3px;}
.table_memberList .box_s01 input {width:69px;margin:0 11px 0 11px;}
.table_memberList .radio+label {margin:0 15px 0 5px;}
.table_memberList .box_s01 input.fir_box {margin:0 11px 0 0;}
.table_memberList .box_s02 input {width:151px;}
.table_memberList .box_s02 select {border:1px solid #e3e3eb;border-top:1px solid #acadb2;width:195px;height:20px;line-height:20px;padding:0 0 0 3px;}
.table_memberList td.txt-left{text-align:left; padding:5px 5px 5px 10px; }
.table_memberList td.contents{height:250px;vertical-align: top;text-align:left; }
.table_memberList td label{margin-right:10px; }
.m_select_type input {vertical-align: center;margin:0 10px 0 3px;}
.table_memberList td li {height:25px;position:relative;}
.table_memberList td li span {vertical-align: top;display:inline-block;position:relative;float:left;width:100px;margin:0 10px 0 0px;}
.txtRight {float:right; padding-right:22px;}


/* 테이블커스텀( 관리자 FAQ View화면을 위한 커스텀 */ 
table.view-normal table {border:1px solid #c8c8c8;width:646px;} /* 사용자 고객지원->FAQ가 85%비율로 646px 로 보여짐.. */
table.view-normal table th {text-align:center;border:1px solid #c8c8c8;background:none;}
table.view-normal table tbody td {border-left:1px solid #c8c8c8;text-align:left;padding-left:10px}


/* 업무용-member2 */
.table_memberList1 {float:left;width:100%;border-top:2px solid #6a6a6a;}
.table_memberList1 th, .table_memberList1 td {border-bottom:1px solid #c8c8c8;height:15px;line-height:15px;}
.table_memberList1 th {border-right:1px solid #cecece;background:#f8f8f8;color:#424242;}
.table_memberList1 .text_box input {border:1px solid #e3e3eb;border-top:1px solid #acadb2;width:195px;height:15px;line-height:15px;padding:0 0 0 3px;}
.table_memberList1 .box_s01 input {width:69px;margin:0 11px 0 11px;}
.table_memberList1 .box_s01 input.fir_box {margin:0 11px 0 0;}
.table_memberList1 .box_s02 input {width:151px;}
.table_memberList1 .box_s02 select {width:182px;border:1px solid #e3e3eb;border-top:1px solid #acadb2;}
.table_memberList1 td.txt-left{text-align:left; padding:5px 5px 5px 10px; }

.m_select_type input {vertical-align: center;margin:0 10px 0 3px;}
/* 업무용-sub */
.adm_contents .pageSkip {margin:40px 0 0 0;} 
.member_wrtList table {background:#f8f8f8;}
.member_wrtList dl {float:left;margin: 12px 0 0;}
.member_wrtList dt {float:left;width:55px;font-weight:bold;color:#424242;padding-left:1px;}
.member_wrtList dt.qna_secret_title {width:60px;}
.member_wrtList .add_icon {margin:0 0 0 5px;}
.member_wrtList dd {float:left;}
.member_wrtList .title_box input {width:652px;height:20px;line-height:20px;padding-left:3px;border:1px solid #c4c4c4;}
.member_wrtList .qna_title_box input {width:470px;margin:0 25px 0 0;}
.member_wrtList .qna_secret_box input {margin:0 2px 0 8px;width:12px;}
.member_wrtList .qna_secret_box label {width:30px;}
.member_wrtList .adm_edit {margin:15px 0 12px 0;}
.member_wrtList .adm_file {background: url('/images/operation/sub/add_file.gif') no-repeat left center;padding:0 0 0 16px;}
.adm_file_area {float:left;width:642px;}
.member_wrtList .adm_fileBox {float:left;width:537px;height:20px;line-height:20px;padding-left:3px;background:#fff;border:1px solid #c4c4c4;}
.adm_addfile_btn {margin:-1px 0 0;float:right;}
.adm_fileList {float:left;width:637px;height:86px;padding:3px 0 3px 5px;overflow-x:hidden;overflow-y:auto;margin:11px 0 0;border:1px solid #c4c4c4;background:#fff;}
.adm_fileList input {margin:0 5px 0 0;}
.adm_fileList label {vertical-align:middle;}
.adm_file_mb {float:right;margin:9px 0 15px 0;font-size:10px;font-family:'Tahoma';color:#333;}
.adm_file_mb span {color:#666;}
.answer_area {margin:15px 0 0;padding:0 0 20px 22px;}
.answer_area dt {font-weight:bold;color:#131313;background: url("/images/operation/sub/list_re_icon02.gif") no-repeat left 38%;margin:3 0 15px 0;padding-left:18px;}
.answer_area dt span{display:inline-block;margin:0 0 0 6px;font-size:0.88em;font-weight:normal;color:#666;}
.answer_area dd {margin:17px 0 0;line-height:1.4;}
.answer_area dd.adm_answer {border:1px solid #dfdfdf;background:#f8f8f8;width:703px;height:173px;overflow-x:hidden;overflow-y:auto;margin:0 0 25px 0;padding:5px 0 0 7px;}


.err-msg{color:red !important; display:block}

.board-total {clear:both; padding-bottom:2px; text-align:right;}
.board-total span {font-weight:bold; padding-right:2px;}

.btn-align{text-align:center;line-height:23px;vertical-align:middle;padding-left:3px;}
.btn-align-left{text-align:center;line-height:23px;display:inline-block;vertical-align:middle;padding-left:3px; float:left;}
.btn-align-right{text-align:center;line-height:23px;display:inline-block;vertical-align:middle;padding-left:3px; float:right;}
.btn-all-align{text-align:center;line-height:23px;vertical-align:middle;padding-top:0px;}
.btn-all-align-right{text-align:center;line-height:23px;display:inline-block;vertical-align:middle;padding-top:0px; float:right;}
.btn-all-rignt{text-align:center;line-height:23px;display:inline-block;vertical-align:middle;float:right;}

.checkpage-box {padding-top:150px; padding-bottom:10px;}
.checkpage-box-top {background: url('/images/operation/share_img/checkpage_img01.gif') left top no-repeat; margin-top: 20px; width:564px; margin:0 auto;}
.checkpage-box-bot {background: url('/images/operation/share_img/checkpage_img02.gif') left bottom no-repeat; padding: 33px 50px 25px 170px; min-height: 70px; overflow: visible;}
.checkpage-box-bot p {font-size: 1.167em; font-weight: bold; color: #505050; padding: 10px 0 10px 5px;}
.checkpage-box-bot p span {color: #e86f3f;}
.checkpage-box-btn {padding-top: 10px; text-align:center;}

.admin-main{background: url('/images/operation/share_img/main_bg.jpg') left 120px no-repeat; margin-left:120px; width:616px; height:409px; padding-left:45px; padding-top:195px;}
.admin-main h4{float:left; padding-right:10px;}
.admin-main p{ padding-top:30px;font-weight:bold;color:#999999;}.admin-main p span{display:block; padding-bottom:5px;}
.admin-main p img{vertical-align:top;}

li {list-style: none;}
.file_att {width:70%; margin-bottom:5px;height:20px}

/*calendar*/

/*사용자 달력*/
.calendar {margin-bottom:25px}
.calendar table {border-collapse: collapse;border-spacing: 0;}
.calendar table td {padding:0;margin:0}
.calendar .head {margin-bottom:25px;position:relative;text-align:center}
.calendar .head ul {text-align: center;}
.calendar .head ul li {display:inline-block;line-height: 26px;vertical-align:top;*display:inline;*vertical-align:middle;}
.calendar .head ul li.btn.prev a {background:url('/images/calendar/btn_prev.gif') no-repeat right center;padding-right:30px;*padding-top:6px;*padding-bottom:6px;}
.calendar .head ul li.btn.next a {background:url('/images/calendar/btn_next.gif') no-repeat left center;padding-left:30px;*padding-top:6px;*padding-bottom:6px;}
.calendar .head ul li.btn a {color: #5E5E5E;display:block; *display:inline;font-size: 12px;font-weight:600;height:26px;line-height:26px;}
.calendar .head ul li.date {color: #000000;font-family:'NanumBarunGothic';font-size: 26px;font-weight: 600;margin: 0 15px;}
.calendar .head .btn_today {position: absolute;right: 0;top: 5px; cursor:pointer;}
.calendar .tbl_calendar th, .calendar .tbl_calendar td {border:1px solid #D7D7D7;vertical-align:top; padding:3px 0;} /* padding:3px 0; 추가 */
.calendar .tbl_calendar th {background:#F3F3F3;border-bottom: 2px solid #005b9e;color: #242424;height: 20px;vertical-align: middle;} /* height:24px -> 20px */
.calendar .tbl_calendar th span {background:#F3F3F3;color:#c92100;height: 24px;vertical-align: middle;}
.calendar a:link, .calendar a:visited {color: #5C5C5C; text-decoration: none;}

.calendar .tbl_calendar .tbox {height: 45px;padding: 5px;position: relative;} /* height:62px -> 45px */
.calendar .tbl_calendar .tbox .date {height: 100%;overflow: hidden;position: relative;width: 100%;z-index: 2;}/* width: 24px; -> 100% */
.calendar .tbl_calendar .tbox .date span {color: #6D6D6D;float: left;font-size: 12px;font-weight:600}
.calendar .tbl_calendar .tbox .date span.preholyday {color: #ECA9B7;float: left;font-family:'NanumBarunGothic';font-size: 12px;}
.calendar .tbl_calendar .tbox .date em {color: #959595;float: right;font-family: 'NanumBarunGothic';font-size: 11px;font-style: normal;}
.calendar .tbl_calendar .tbox .date span.holyday {color:#c92100;float:left;font-family:'NanumBarunGothic';font-size: 12px;}
.calendar .tbl_calendar .tbox .date span.saturday {color:#4682B4;float:left;font-family:'NanumBarunGothic';font-size: 12px;}
.calendar .tbl_calendar .tbox .schedule {bottom: 0;left: 0;position: absolute;right: 0;top: 0;z-index:1;font-family:'NanumBarunGothic';font-size: 11px;background:#EAEAEA;}
.calendar .tbl_calendar .tbox .schedule p {display:block;font-family:'NanumBarunGothic';font-size: 11px;line-height:15px;margin-top:20px;overflow:hidden;padding:7px 5px 0 15px;text-align:left;word-break: break-all;}}
.calendar .tbl_calendar .tbox .schedule img.mar01 {margin-top:-2px; margin-left:2px} 
.calendar .tbl_calendar .tbox .schedule2 {bottom:0;left:0;position:absolute;right: 0; top: 0; z-index: 10;font-family:'NanumBarunGothic';font-size: 11px; }
.calendar .tbl_calendar .tbox .schedule2 p {display:block;font-family:'NanumBarunGothic';font-size: 11px;line-height:15px;margin-top:20px;overflow:hidden;padding:7px 5px 0 15px;text-align:left;word-break: break-all;}
.calendar .tbl_calendar .tbox .schedule strong {color:#244d15;display:block;font-family:'NanumBarunGothic';font-size: 11px;line-height:15px;margin-top:17px;overflow:hidden;padding: 7px 5px 0 15px;text-align:left;word-break: break-all;}
.calendar .tbl_calendar .tbox .schedule span {color: #000000;display: block;font-family:'NanumBarunGothic';font-size: 11px;height:10px;line-height: 15px; overflow: hidden; padding: 0 5px 5px 15px;text-align:left;word-break: break-all;}
.calendar .tbl_calendar .tbox.today .schedule {background:none;border:3px solid #005b9e;bottom:-1px;left:-1px;position:absolute;right:-1px;top:-1px;z-index:10;}
.calendar .tbl_calendar .tbox.today .schedule p {display:block;font-family:'NanumBarunGothic';font-size: 11px;line-height:15px;margin-top:8px;overflow: hidden;padding: 17px 5px 0 15px;text-align:left;word-break: break-all;} /* padding-top:7px -> 17px */
.calendar .tbl_calendar .tbox.today .schedule em {background: url('/images/calendar/ico_today.png') no-repeat 0 0 ;height:30px;left:-3px;overflow:hidden;position: absolute;text-indent: -5000px;top: -3px;width: 32px;z-index: 3;}
.calendar .tbl_calendar .tbox.today .schedule strong {color:#244d15;display:block;font-family:'NanumBarunGothic';font-size: 11px;line-height: 15px;margin-top:1px;*margin-top:0px;overflow:hidden;padding: 7px 5px 0 15px;text-align:left;word-break: break-all;}
.calendar .tbl_calendar .tbox.today .schedule2 {background:#EAEAEA;border:3px solid #005b9e;bottom:-1px;left:-1px;position:absolute;right:-1px; top:-1px; z-index:10; }
.calendar .tbl_calendar .tbox.today .schedule2 p {display:block;font-family:'NanumBarunGothic';font-size: 11px;line-height:15px;margin-top:8px;overflow:hidden;padding:17px 5px 0 15px;text-align:left;word-break: break-all;}
.calendar .tbl_calendar .tbox.today .schedule2 em {background: url('/images/calendar/ico_today.png') no-repeat 0 0 ;height:30px;left: -3px;overflow: hidden;position: absolute;text-indent: -5000px;top: -3px;width: 32px;z-index: 3;}
.calendar .tbl_calendar .tbox.today .schedule2 strong {*margin-top:0px;color:#244d15;display:block;font-family:'NanumBarunGothic';font-size: 11px;line-height: 15px;margin-top:15px;overflow:hidden;padding: 7px 5px 0 15px;text-align:left;word-break: break-all;}
.calendar .tbl_calendar .tbox.today .schedule:after ,
.calendar .tbl_calendar .tbox.today .schedule2:after {content:"";display:block;clear:both}
.calendar .tbl_calendar .tbox.today .schedule p,
.calendar .tbl_calendar .tbox.today .schedule2 p,
.calendar .tbl_calendar .tbox.today .schedule span,
.calendar .tbl_calendar .tbox.today .schedule2 span,
.calendar .tbl_calendar .tbox.today .schedule a,
.calendar .tbl_calendar .tbox.today .schedule2 a {float:left;display:inline-block;vertical-align:middle}
.calendar .tbl_calendar .tbox.on {border:1px solid #666;height:61px;margin:-1px 0 0 -1px}
.calendar .tbl_calendar .tbox .date span.impossible {color:#c92100;float:left;font-family:'NanumBarunGothic';font-size: 12px;float:right;padding:0px 0px 0px 5px;}


/*관리자 달력*/
.calendar01 {margin-bottom:25px}
.calendar01 table {border-collapse: collapse;border-spacing: 0;}
.calendar01 .head {margin-bottom:25px;position:relative;text-align:center}
.calendar01 .head ul {text-align: center;}
.calendar01 .head ul li {display:inline-block;line-height: 26px;vertical-align:top;*display:inline;*vertical-align:middle;}
.calendar01 .head ul li.btn.prev a {background:url('/images/calendar/btn_prev.gif') no-repeat right center;padding-right:30px;*padding-top:6px;*padding-bottom:6px;}
.calendar01 .head ul li.btn.next a {background:url('/images/calendar/btn_next.gif') no-repeat left center;padding-left:30px;*padding-top:6px;*padding-bottom:6px;}
.calendar01 .head ul li.btn a {color: #5E5E5E;display:block; *display:inline;font-size: 12px;font-weight:600;height:26px;line-height:26px;}
.calendar01 .head ul li.date {color: #000000;font-family:'NanumBarunGothic';font-size: 26px;font-weight: 600;margin: 0 15px;}
.calendar01 .head .btn_today {position: absolute;right: 0;top: 5px;}
.calendar01 .tbl_calendar th, .calendar01 .tbl_calendar td {border:1px solid #D7D7D7;vertical-align:top;padding:3px 0;} /* padding:3px 0; 추가 */
.calendar01 .tbl_calendar th {background:#F3F3F3;border-bottom: 2px solid #005b9e;color: #242424;height: 20px;vertical-align: middle;}/* height:24px -> 20px */
.calendar01 .tbl_calendar th span {background:#F3F3F3;color:#c92100;height: 24px;vertical-align: middle;}
.calendar01 a:link, .calendar01 a:visited {color: #5C5C5C; text-decoration: none;}
.calendar01 .tbl_calendar .tbox {height: 45px;padding: 5px;position: relative;} /* height:62px -> 45px */
.calendar01 .tbl_calendar .tbox .date {height: 100%;overflow: hidden;position: relative;width: 100%;z-index: 2;}/* width: 24px; -> 100% */
.calendar01 .tbl_calendar .tbox .date span {color: #6D6D6D;float: left;font-family: 'NanumBarunGothic';font-size: 12px;font-weight:600}
.calendar01 .tbl_calendar .tbox .date span.preholyday {color: #ECA9B7;float: left;font-family:'NanumBarunGothic';font-size: 12px;}
.calendar01 .tbl_calendar .tbox .date em {color: #959595;float: right;font-family: 'NanumBarunGothic';font-size: 11px;font-style: normal;}
.calendar01 .tbl_calendar .tbox .date span.holyday {color:#c92100;float:left;font-family:'NanumBarunGothic';font-size: 12px;}
.calendar01 .tbl_calendar .tbox .date span.saturday {color:#4682B4;float:left;font-family:'NanumBarunGothic';font-size: 12px;}
.calendar01 .tbl_calendar .tbox .schedule {color:#005b9e; background:#EAEAEA;bottom: 0;left: 0;position: absolute;right: 0;top: 0;z-index:1;}
.calendar01 .tbl_calendar .tbox .schedule a {color:#005b9e;}
.calendar01 .tbl_calendar .tbox .schedule p {display:block;font-family:'NanumBarunGothic';font-size: 11px;line-height: 15px;margin-top:24px;overflow: hidden;padding: 7px 5px 0 15px;text-align:left;word-break: break-all;}
.calendar01 .tbl_calendar .tbox .schedule img.mar01 {margin-top:-2px; margin-left:2px}
.calendar01 .tbl_calendar .tbox .schedule p a span {color:#9e3000}
.calendar01 .tbl_calendar .tbox .schedule2 {color:#005b9e; bottom:0;left:0;position:absolute;right: 0; top: 0; z-index: 1; }
.calendar01 .tbl_calendar .tbox .schedule2 a {color:#005b9e;}
.calendar01 .tbl_calendar .tbox .schedule2 p {display:block;font-family:'NanumBarunGothic';font-size: 11px;line-height:15px;margin-top:24px;overflow: hidden;padding: 7px 5px 0 15px;text-align:left;word-break: break-all;}
.calendar01 .tbl_calendar .tbox .schedule2 p a span {color:#9e3000}
.calendar01 .tbl_calendar .tbox .schedule strong {*margin-top:0;color:#244d15;display:block;font-family:'NanumBarunGothic';font-size: 11px;line-height:15px;margin-top:0px;overflow: hidden;padding: 7px 5px 0 15px;text-align:left;word-break: break-all;}
.calendar01 .tbl_calendar .tbox .schedule span {color: #000000;display: block;font-family:'NanumBarunGothic';font-size: 11px;line-height: 15px; height:10px;overflow: hidden; padding: 0 5px 5px 0px;text-align:left;word-break: break-all;}
.calendar01 .tbl_calendar .tbox.today .schedule {color:#005b9e; background:#fff;border:3px solid #005b9e;bottom:-1px;left:-1px;right:-1px;top:-1px;z-index:10;}
.calendar01 .tbl_calendar .tbox.today .schedule a {color:#005b9e;}
.calendar01 .tbl_calendar .tbox.today .schedule p {display:block;font-family:'NanumBarunGothic';font-size: 11px;line-height: 15px;margin-top:23px;overflow: hidden;padding: 7px 5px 0 15px;text-align:left;word-break: break-all;}
.calendar01 .tbl_calendar .tbox.today .schedule em {background: url('/images/calendar/ico_today.png') no-repeat 0 0 ;height: 30px;left: -3px;overflow: hidden;position: absolute;text-indent: -5000px;top: -3px;width: 32px;z-index: 3;}
.calendar01 .tbl_calendar .tbox.today .schedule p a span {color:#9e3000} 
.calendar01 .tbl_calendar .tbox.today .schedule2 a {color:#005b9e;}
.calendar01 .tbl_calendar .tbox.today .schedule2 {color:#005b9e; background:#EAEAEA;border:3px solid #005b9e;bottom:-1px;left:-1px;position:absolute;right:-1px; top:-1px; z-index:10; }
.calendar01 .tbl_calendar .tbox.today .schedule2 p {display:block;font-family:'NanumBarunGothic';font-size: 11px;line-height:15px;margin-top:23px;overflow:hidden;padding:7px 5px 0 15px;text-align:left;word-break: break-all;}
.calendar01 .tbl_calendar .tbox.today .schedule2 em {background: url('/images/calendar/ico_today.png') no-repeat 0 0 ;height:30px;left: -3px;overflow: hidden;position: absolute;text-indent: -5000px;top: -3px;width: 32px;z-index: 3;}
.calendar01 .tbl_calendar .tbox.today .schedule2 p a span {color:#9e3000}


.adm_subWrapPrint {width:100%;height:100%;}
.adm_subWrapPrint .location {margin:0 0 20px 0;}
.adm_subWrapPrint .location div {float:left;}
.adm_subWrapPrint .location h2 {font-size:2.165em;line-height:26px;color:#2c2928;font-family:'NanumBarunGothic'}
.adm_subWrapPrint .location span {display:inline-block;margin:4px 0 0 18px;padding:0 0 0 9px;font-size:0.925em;font-weight:normal;color:#818181;background: url(/images/operation/sub/adm_locationLine.gif) no-repeat left 44%;}
.adm_subWrapPrint .location ul {background:none;}

.adm_cont_areaPrint {float:left;width:100%;}

.adm_contentsPrint {float:left;width:85%;padding:30px 0 0;position:absolute;margin-left:50px;font-family:'NanumBarunGothic'}
.adm_contentsPrint .table_list tr td {font-size:1em;font-family:'NanumBarunGothic'}
.adm_contentsPrint .table_list tr td.ft_12 {font-size:12px;}
.adm_contentsPrint .pageSkip {margin:40px 0 0 0;}

@media print {
	
}
/* 프린트 관련 */

ul.treeview {
			list-style-image:none;
			list-style-position:outside;
			list-style-type:none;
			margin:0;
			padding:0;	
		}
		
		li.treeitem{
			 background-position:0 -176px;
			 padding:3px 0 2px 16px;
		}
		
		span.folder { 
			background: url(/images/operation/btn/folder.gif) no-repeat; 
			padding: 0px 0 0px 20px; 
		}
		
		span.file { 
			background: url(/images/operation/btn/file.gif) no-repeat;
			padding: 1px 0 0px 20px;  
		}
		
		.treeview, .treeview ul { 
			padding: 0;
			margin: 0;
			list-style: none;
		}

		.treeview ul {
			background-color: white;
			margin-top: 4px;
		}
		
		.expandable-hitarea{
			background: url(/images/operation/btn/icon_folder_minus.gif)  no-repeat;
		}
		
		.collapsable-hitarea{
			background: url(/images/operation/btn/icon_folder_plus.gif)  no-repeat;
		}

		.treeview .hitarea {			
			height: 16px;
			width: 16px;
			margin-left: -16px;
			float: left;
			cursor: pointer;
		}

		/* fix for IE6 */
		* html .hitarea {
			display: inline;
			float:none;
		}

		.treeview li { 
			margin: 0;
			padding: 3px 0pt 3px 16px;
		}

		.treeview a.selected {
			background-color: #eee;
		}

		#treecontrol { margin: 1em 0; display: none; }


.Pstyle {
   opacity : 0;
   display : none;
   position : relative;
   width : auto;
   border : 5px solid #fff;
   padding : 20px;
   background-color : #fff;
}
.b-close {
   position : absolute;
   right : 5px;
   top : 5px;
   padding : 0px; /* padding : 5px; */
   display : inline-block;
   cursor : pointer;
}

.pop_title {
	font-weight:bold;
	font-size:1.3em;
	margin-bottom:5px
}

label.error {
	color : red;
	margin-left:5px;
}