@charset "UTF-8";
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
/* 본고딕 폰트 호출 */
@import "../font/notokr-regular/stylesheet.css";        /* font-family:'notokr-regular'; */
@import "../font/notokr-medium/stylesheet.css";       /* font-family:'notokr-medium'; */
@import "../font/notokr-bold/stylesheet.css";           /* font-family:'notokr-bold'; */
/* reset */
* {box-sizing:border-box;}
body, h1, h2, h3, h4, h5, h6, div, p, span, em, blockquote, pre, address, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, input, select, label, textarea, img, a {
	margin:0; padding:0; border:0px; word-break:break-all; word-wrap:break-word;
	color:#7f7f7f; font-size:12px; font-weight:400; letter-spacing:-0.05em;
	font-family:'notokr-regular', 'Noto Sans Korean','Malgun Gothic', '맑은 고딕', Dotum, tahoma, sans-serif;
}


img {vertical-align:top;}

/* content */
.main header {border-bottom:1px solid #dbdbdb;}
.main .loginBox {margin:0 auto -20px;}

header {width:100%; background:url(../img/bgHeader.jpg) 0 0 repeat-x;}
header .headerBox {position:relative; width:1200px; height:136px; margin:0 auto; background:url(../img/imgHeader.png) center 0 no-repeat;}
#gnb {display:none; width:100%; min-width:1200px; height:196px; border-bottom:1px solid #d3d3d3; background:url(../img/imgGnb.jpg) center 0 no-repeat;}
#gnb a {display:block; width:1200px; height:196px; margin:0 auto;}
.logo {position:absolute; top:12px; left:50%; width:147px; height:42px; margin-left:-65px;}
.login {display:inline-block; position:absolute; top:30px; right:100px; width:38px; height:12px;}
.loginBox {display:none; position:relative; width:1200px; height:84px; margin:0 auto; background:url(../img/imgLoginBox.jpg) center 20px no-repeat;}
.close {position:absolute; top:42px; right:33px; width:24px; height:24px;}

#contents {background:#e5e4e4;}
.content {position:relative; width:1200px; margin:0 auto; padding-bottom:124px;}

#visu {width:100%; min-width:1200px; height:173px; background:url(../img/imgGnbVisu.jpg) center 0 no-repeat;}
#visu .btnBox {position:relative; width:1200px; margin:0 auto;}
#visu .btnBox a {
	overflow:hidden; display:inline-block; position:absolute; top:68px; width:21px; height:38px;
	text-indent:-9999px; line-height:0; white-space:nowrap;
}
#visu .btnBox a:first-child {left:11px; background:url(../img/btnLeft.png) 0 0 no-repeat;}
#visu .btnBox a:last-child {right:12px; background:url(../img/btnRight.png) 0 0 no-repeat;}

.searchBox {height:109px; background:url(../img/imgSearch.png) center 0 no-repeat;}
.titBar {overflow:hidden; position:relative; height:40px; text-align:center;}
.titBar a {
	display:inline-block; position:absolute; top:0; right:13px; width:41px; height:40px;
	background:url(../img/barBtnOn.gif) 0 0 no-repeat;
}
.titBar a.barBtnOn {background:url(../img/barBtnOff.gif) 0 0 no-repeat;}

.mainCon {height:1231px; background:url(../img/imgMainCon.png) center 40px no-repeat;}
.subCon {height:1598px; background:url(../img/imgSubCon.png) center 40px no-repeat;}
.subCon a {display:block; height:1598px;}
.subViewCon {height:2760px; background:url(../img/imgsubViewCon.png) center 0 no-repeat;}

.rolling {overflow:hidden; position:absolute; top:40px; left:12px; width:458px; height:543px;}
.rolling li {float:left;}
.rolling .tab {position:relative; overflow:hidden; width:100%; height:543px; z-index:1;}
.rolling .tab button {position:relative; z-index:1000; float:left; border:none; background:none; margin:0; padding:0; font-size:16px; letter-spacing:-0.075em; font-family:'notokr-medium'; color:#656565; margin-top:210px; margin-left:16px; cursor:pointer}
.rolling .tab button:first-child {margin-left:27px;}
.rolling .tab button.on {color:#de4140;}
.rolling .inBox {position:relative;}
.rolling .inBox img {display:block; position:absolute; left:0; top:0;}
.rolling .inBox img:first-child {z-index:1;}
.bx-controls {position:absolute; top:30px; right:23px; z-index:2;}
.bx-pager-item {float:left; margin-left:6px;}
.bx-pager-item a {display:inline-block; width:7px; height:7px; background:url(../img/icoRollingOff.png) 0 0 no-repeat; font-size:0; line-height:0;}
.bx-pager-item a.active {background:url(../img/icoRollingOn.png) 0 0 no-repeat;}

.btnConMore {display:block; height:50px; margin-top:47px; background:url(../img/btnConMore.png) center 0 no-repeat;}

footer {width:100%; height:212px; background:url(../img/bgFooter.jpg) 0 0 repeat-x;}
footer div {width:1200px; height:212px; margin:0 auto; background:url(../img/imgFooter.png) center 0 no-repeat;}


